workflows/Level5-SecurityIntelligence.json
{
  "name": "Level5-SecurityIntelligence",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4720,
        -1984
      ],
      "id": "17a69991-5c57-424b-a666-76006f2ba5c8",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3120,
        -2000
      ],
      "id": "e30a2e98-85d7-422f-8288-c0ccbf444352",
      "name": "HTTP Request | Gotenberg"
    },
    {
      "parameters": {
        "jsCode": "// Rename PDF using report_name from previous node if available\n\nfor (const item of items) {\n  const base = item.json?.report_name || \"SmartInfra_VA_Report_L1\";\n  const filename = `${base}.pdf`;\n\n  const bin = item.binary || {};\n  const key = bin.pdf ? \"pdf\" : (bin.data ? \"data\" : Object.keys(bin)[0]);\n\n  if (!key || !bin[key]) {\n    item.json = { ...(item.json || {}), error: \"No binary file found to rename\" };\n    continue;\n  }\n\n  bin[key].fileName = filename;\n  bin[key].mimeType = \"application/pdf\";\n  bin[key].fileExtension = \"pdf\";\n\n  item.binary = bin;\n  item.json = { ...(item.json || {}), pdf_filename: filename, pdf_binary_key: key };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -2000
      ],
      "id": "1af8ad0f-f8b6-4298-9d3d-f52c4596815a",
      "name": "Code | Rename PDF"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2832,
        -1728
      ],
      "id": "1ecd097f-4cc4-41df-8abf-25516fcda5f3",
      "name": "Google Drive – Share (Permission)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fQqKzEf97JLgzUaS",
          "name": "Google Drive account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "pdf",
        "name": "={{$json.pdf_filename}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1aI0NLgW9ZzG9YrjBDLGIoer5Ke7FjlOB",
          "mode": "list",
          "cachedResultName": "L5-Report",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aI0NLgW9ZzG9YrjBDLGIoer5Ke7FjlOB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3024,
        -1728
      ],
      "id": "652990ee-c59e-49d3-8998-a86330d35dea",
      "name": "Google Drive (Upload)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fQqKzEf97JLgzUaS",
          "name": "Google Drive account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const uploadJson = $node[\"Google Drive (Upload)\"].json;\n  const fileId = uploadJson?.id;\n\n  const driveLink = fileId\n    ? `https://drive.google.com/file/d/${fileId}/view?usp=sharing`\n    : '';\n\n  return {\n    json: {\n      ...item.json,\n      drive_file_id: fileId,\n      drive_link: driveLink,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        -1728
      ],
      "id": "5f167e57-610e-4fdc-a82f-a08c73fe3d45",
      "name": "Code | Build Drive Link"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/assets/logo.png",
        "options": {
          "dataPropertyName": "logo"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -4304,
        -1824
      ],
      "id": "1ed3a736-5293-4395-b9da-f939265d8fb5",
      "name": "Read File(s) from Disk-logo",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/assets/signature.png",
        "options": {
          "dataPropertyName": "signature"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -4320,
        -1616
      ],
      "id": "ef2de4b0-cfc8-48ef-9c40-d1f2a5b344d0",
      "name": "Read File(s) from Disk-signature",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4064,
        -1776
      ],
      "id": "58b09b43-55be-4b4c-840a-60c5cf262217",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fromEmail": "bugkuska@gmail.com",
        "toEmail": "sompoch.t@msu.ac.th",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2272,
        -1744
      ],
      "id": "f58abbe0-5638-43b9-9d71-9ec13a5cc960",
      "name": "Email (Gmail/SMTP)",
      "webhookId": "577840da-38e5-48d5-ad1b-ac6b66ef6458",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "p6Qz94cSHyyWD6mr",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA",
          "mode": "list",
          "cachedResultName": "sec_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1259440840,
          "mode": "list",
          "cachedResultName": "L3_risk_findings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit#gid=1259440840"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4352,
        -2000
      ],
      "id": "38de078a-440a-4645-9f65-d6c6a1d7d6fd",
      "name": "GS | Read Risk Findings",
      "credentials": {
        "googleApi": {
          "id": "cC6tqbqF8VT7WPZa",
          "name": "Google Sheets account-SmartInfra"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $json || {};\n\n// ----------------------------\n// Helpers\n// ----------------------------\nfunction num(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction text(v, def = \"-\") {\n  const s = String(v ?? \"\").trim();\n  return s ? s : def;\n}\n\nfunction upper(v, def = \"\") {\n  const s = String(v ?? def).trim();\n  return s ? s.toUpperCase() : def;\n}\n\n// ----------------------------\n// Main values\n// ----------------------------\nconst run_id = text(d.run_id, \"-\");\nconst scan_time_th = text(d.scan_time_th, \"-\");\n\nconst total_hosts = num(d.total_hosts);\nconst total_findings = num(d.total_findings);\n\nconst critical = num(d.critical_count);\nconst high = num(d.high_count);\nconst medium = num(d.medium_count);\nconst low = num(d.low_count);\n\nconst security_status = text(d.security_status, \"NORMAL\");\nconst security_score = num(d.security_score);\nconst security_grade = text(d.security_grade, \"-\");\nconst threat_level = text(d.threat_level, \"LOW\");\n\nconst pdf_link = text(d.pdf_link || d.drive_link || d.webViewLink, \"\");\n\n// ----------------------------\n// Risk Index\n// ใช้ค่าที่มีอยู่ก่อน แต่ถ้าเป็น 0 แบบไม่สมเหตุผล\n// ให้คำนวณใหม่อัตโนมัติ\n// ----------------------------\nlet risk_index = num(d.risk_index, -1);\n\nconst calculated_risk_index =\n  (critical * 10) +\n  (high * 5) +\n  (medium * 2) +\n  (low * 1);\n\nif (\n  risk_index < 0 ||\n  (!critical && !high && !medium && !low ? false : risk_index === 0)\n) {\n  risk_index = calculated_risk_index;\n}\n\n// ----------------------------\n// Vulnerability Summary\n// ----------------------------\nconst cve_detected = num(\n  d.cve_detected ??\n  d.cve_count ??\n  d.total_cve ??\n  d.cve_total ??\n  0\n);\n\nconst kev_detected = num(\n  d.kev_detected ??\n  d.kev_count ??\n  d.total_kev ??\n  d.kev_total ??\n  0\n);\n\n// ----------------------------\n// Alert decision\n// ----------------------------\nconst has_high_or_critical = (critical + high) > 0;\n\n// ----------------------------\n// Header / Headline\n// ----------------------------\nlet header = \"\";\nlet headline = \"\";\n\nif (critical > 0) {\n  header = \"🚨 SmartInfra Security Alert\";\n  headline = \"พบความเสี่ยงระดับ CRITICAL ในระบบ\";\n} else if (high > 0) {\n  header = \"⚠️ SmartInfra Security Alert\";\n  headline = \"พบความเสี่ยงระดับ HIGH ในระบบ\";\n} else if (medium > 0) {\n  header = \"🟡 SmartInfra Security Summary\";\n  headline = \"พบความเสี่ยงระดับ MEDIUM ควรติดตาม\";\n} else {\n  header = \"🛡 SmartInfra Security Summary\";\n  headline = \"ไม่พบความเสี่ยงระดับสูงหรือวิกฤต\";\n}\n\n// ----------------------------\n// Top Risk Host\n// priority:\n// 1) existing top_risk_* fields\n// 2) auto-detect from risk_findings\n// ----------------------------\nlet top_risk_host = text(\n  d.top_risk_host ??\n  d.top_host ??\n  d.most_risky_host,\n  \"-\"\n);\n\nlet top_risk_service = text(\n  d.top_risk_service ??\n  d.top_service ??\n  d.most_risky_service,\n  \"-\"\n);\n\nlet top_risk_cve = text(\n  d.top_risk_cve ??\n  d.top_cve ??\n  d.most_risky_cve,\n  \"-\"\n);\n\nif (\n  top_risk_host === \"-\" &&\n  Array.isArray(d.risk_findings) &&\n  d.risk_findings.length > 0\n) {\n  const scored = [...d.risk_findings].map((r) => {\n    const score =\n      num(r.risk_score, -1) >= 0\n        ? num(r.risk_score)\n        : (\n            upper(r.risk_level) === \"CRITICAL\" ? 100 :\n            upper(r.risk_level) === \"HIGH\" ? 80 :\n            upper(r.risk_level) === \"MEDIUM\" ? 50 :\n            upper(r.risk_level) === \"LOW\" ? 20 : 0\n          );\n\n    const host = text(r.host, \"-\");\n    const service = text(r.service, \"\");\n    const port = text(r.port, \"\");\n\n    let serviceText = \"-\";\n    if (service && service !== \"-\" && port && port !== \"-\") serviceText = `${service} Port ${port}`;\n    else if (service && service !== \"-\") serviceText = service;\n    else if (port && port !== \"-\") serviceText = `Port ${port}`;\n\n    let cveText = \"-\";\n    if (text(r.cve, \"\") && text(r.cve, \"\") !== \"-\") {\n      cveText = text(r.cve, \"-\");\n    } else if (Array.isArray(r.cves) && r.cves.length > 0) {\n      cveText = text(r.cves[0], \"-\");\n    }\n\n    return {\n      host,\n      serviceText,\n      cveText,\n      score\n    };\n  });\n\n  scored.sort((a, b) => b.score - a.score);\n\n  const top = scored[0];\n  if (top) {\n    top_risk_host = top.host || \"-\";\n    top_risk_service = top.serviceText || \"-\";\n    top_risk_cve = top.cveText || \"-\";\n  }\n}\n\n// ----------------------------\n// Top Exposed Services\n// ----------------------------\nlet top_services_block = \"\";\n\nif (Array.isArray(d.risk_findings) && d.risk_findings.length > 0) {\n  const counter = {};\n\n  for (const r of d.risk_findings) {\n    const svc = text(r.service, \"\");\n    const port = text(r.port, \"\");\n    let key = \"\";\n\n    if (svc && svc !== \"-\" && port && port !== \"-\") key = `${svc} Port ${port}`;\n    else if (svc && svc !== \"-\") key = svc;\n    else if (port && port !== \"-\") key = `Port ${port}`;\n\n    if (!key) continue;\n    counter[key] = (counter[key] || 0) + 1;\n  }\n\n  const topServices = Object.entries(counter)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 3);\n\n  if (topServices.length > 0) {\n    top_services_block += `🔥 Top Exposed Services\\n`;\n    for (const [name, count] of topServices) {\n      top_services_block += `- ${name} (${count})\\n`;\n    }\n    top_services_block += `\\n`;\n  }\n}\n\n// ----------------------------\n// Recommendations\n// ----------------------------\nlet recommendationLines = [];\n\nif (critical > 0) {\n  recommendationLines = [\n    \"เร่งตรวจสอบ host และ service ที่มีความเสี่ยงสูงสุด\",\n    \"อัปเดต patch และ remediation ที่เกี่ยวข้องทันที\",\n    \"จำกัดการเข้าถึง service ที่เปิดเผยสู่เครือข่าย\",\n    \"ตรวจสอบ firewall / ACL / segmentation เพิ่มเติม\"\n  ];\n} else if (high > 0) {\n  recommendationLines = [\n    \"ตรวจสอบ service ที่เปิดใช้งานและ port ที่ไม่จำเป็น\",\n    \"อัปเดต patch และช่องโหว่ที่เกี่ยวข้อง\",\n    \"ทบทวน firewall policy และการควบคุมการเข้าถึง\",\n    \"ติดตาม host ที่มีความเสี่ยงสูงเป็นพิเศษ\"\n  ];\n} else if (medium > 0) {\n  recommendationLines = [\n    \"ตรวจสอบรายการความเสี่ยงและวางแผน remediation\",\n    \"ทบทวน configuration ที่เปิดเผยเกินความจำเป็น\",\n    \"เฝ้าระวัง host ที่มีแนวโน้มความเสี่ยงเพิ่มขึ้น\"\n  ];\n} else {\n  recommendationLines = [\n    \"ติดตามผลการสแกนอย่างต่อเนื่อง\",\n    \"ทบทวน asset และ service inventory เป็นระยะ\",\n    \"รักษาระดับ patching และ hardening policy อย่างสม่ำเสมอ\"\n  ];\n}\n\n// ----------------------------\n// Build message\n// ----------------------------\nlet msg = \"\";\n\nmsg += `${header}\\n`;\nmsg += `🕒 ${scan_time_th}\\n`;\nmsg += `🆔 Run ID: ${run_id}\\n\\n`;\n\nmsg += `📌 สถานะ: ${security_status}\\n`;\nmsg += `🔥 Threat Level: ${threat_level}\\n`;\nmsg += `🏅 Security Grade: ${security_grade}\\n`;\nmsg += `📊 Security Score: ${security_score}\\n`;\nmsg += `📉 Risk Index: ${risk_index}\\n\\n`;\n\nmsg += `🖥 Total Hosts: ${total_hosts}\\n`;\nmsg += `📍 Total Findings: ${total_findings}\\n\\n`;\n\nmsg += `📈 Risk Distribution\\n`;\nmsg += `🟥 CRITICAL: ${critical}\\n`;\nmsg += `🟧 HIGH: ${high}\\n`;\nmsg += `🟨 MEDIUM: ${medium}\\n`;\nmsg += `🟩 LOW: ${low}\\n\\n`;\n\nmsg += `🧬 Vulnerability Summary\\n`;\nmsg += `CVE Detected: ${cve_detected}\\n`;\nmsg += `KEV Detected: ${kev_detected}\\n\\n`;\n\nmsg += `📝 ${headline}\\n\\n`;\n\nif (top_risk_host !== \"-\") {\n  msg += `⚠️ Top Risk Host\\n`;\n  msg += `🖥 ${top_risk_host}\\n`;\n\n  if (top_risk_service !== \"-\") {\n    msg += `🔌 ${top_risk_service}\\n`;\n  }\n\n  if (top_risk_cve !== \"-\") {\n    msg += `🧬 ${top_risk_cve}\\n`;\n  }\n\n  msg += `\\n`;\n}\n\nif (top_services_block) {\n  msg += top_services_block;\n}\n\nmsg += `🔧 Recommendation\\n`;\nfor (const line of recommendationLines) {\n  msg += `- ${line}\\n`;\n}\n\nif (pdf_link) {\n  msg += `\\n📄 Report (PDF):\\n${pdf_link}`;\n}\n\n// ----------------------------\n// Output\n// ----------------------------\nreturn {\n  json: {\n    ...d,\n    risk_index,\n    line_message: msg,\n    line_header: header,\n    line_headline: headline,\n    has_high_or_critical,\n    cve_detected,\n    kev_detected,\n    top_risk_host,\n    top_risk_service,\n    top_risk_cve,\n    line_recommendations: recommendationLines\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        -1104
      ],
      "id": "2db0040e-7b93-44ca-aece-265b0896d340",
      "name": "Code: Build LINE Message"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4720,
        -1600
      ],
      "id": "cfd06876-2bf2-4685-a744-5ac951c8c04d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 📊  Level5-Security Intelligence",
        "height": 1376,
        "width": 3184,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4848,
        -2176
      ],
      "typeVersion": 1,
      "id": "56392a70-32e9-43f2-99cb-75958c8e33d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const current = $json || {};\n\n// --------------------------------------------------\n// Helper\n// --------------------------------------------------\nfunction toNumber(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction tryNodeJson(nodeName) {\n  try {\n    return $(nodeName).all()[0]?.json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\n// --------------------------------------------------\n// Try to get report summary from possible upstream nodes\n// --------------------------------------------------\nlet report = {};\n\n// ลองดึงจาก node ที่น่าจะมี summary ก่อน\nconst candidates = [\n  \"CODE | Build Report Sections\",\n  \"CODE | Build HTML Template\",\n  \"CODE | Prepare Report Data\"\n];\n\nfor (const name of candidates) {\n  const data = tryNodeJson(name);\n  if (data && Object.keys(data).length > 0) {\n    report = data;\n    break;\n  }\n}\n\n// fallback สุดท้าย ใช้ current ถ้าไม่มี node summary\nif (!report || Object.keys(report).length === 0) {\n  report = { ...current };\n}\n\n// --------------------------------------------------\n// Extract summary values\n// --------------------------------------------------\nconst critical = toNumber(\n  current.critical_count ??\n  report.critical_count ??\n  report.risk_distribution?.CRITICAL ??\n  0\n);\n\nconst high = toNumber(\n  current.high_count ??\n  report.high_count ??\n  report.risk_distribution?.HIGH ??\n  0\n);\n\nconst medium = toNumber(\n  current.medium_count ??\n  report.medium_count ??\n  report.risk_distribution?.MEDIUM ??\n  0\n);\n\nconst low = toNumber(\n  current.low_count ??\n  report.low_count ??\n  report.risk_distribution?.LOW ??\n  0\n);\n\nconst total_hosts = toNumber(current.total_hosts ?? report.total_hosts ?? 0);\nconst total_findings = toNumber(current.total_findings ?? report.total_findings ?? 0);\n\nconst scan_time_th =\n  current.scan_time_th ||\n  report.scan_time_th ||\n  \"\";\n\nconst report_name =\n  current.report_name ||\n  report.report_name ||\n  \"SmartInfra_Security_Report\";\n\nconst avg_risk_score = toNumber(\n  current.avg_risk_score ??\n  report.avg_risk_score ??\n  0\n);\n\nconst avg_security_score = toNumber(\n  current.avg_security_score ??\n  report.avg_security_score ??\n  Math.max(0, 100 - avg_risk_score)\n);\n\nconst security_grade =\n  current.security_grade ||\n  report.security_grade ||\n  \"-\";\n\nconst kev_count = toNumber(\n  current.kev_count ??\n  report.kev_count ??\n  0\n);\n\nconst cve_count = toNumber(\n  current.cve_count ??\n  report.cve_count ??\n  0\n);\n\nconst overall_threat =\n  String(current.overall_threat || report.overall_threat || \"\").toUpperCase() ||\n  (critical > 0 ? \"CRITICAL\" :\n   high > 0 ? \"HIGH\" :\n   medium > 0 ? \"MEDIUM\" :\n   low > 0 ? \"LOW\" : \"NORMAL\");\n\n// --------------------------------------------------\n// Build run_id\n// --------------------------------------------------\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = pad2(now.getMonth() + 1);\nconst dd = pad2(now.getDate());\nconst hh = pad2(now.getHours());\nconst mi = pad2(now.getMinutes());\nconst ss = pad2(now.getSeconds());\n\nconst run_id =\n  current.run_id ||\n  report.run_id ||\n  `RUN-${yyyy}${mm}${dd}-${hh}${mi}${ss}`;\n\n// --------------------------------------------------\n// Executive security status\n// --------------------------------------------------\nlet security_status = \"NORMAL\";\nif (critical > 0) security_status = \"EMERGENCY\";\nelse if (high > 0) security_status = \"ATTENTION\";\nelse if (medium > 0) security_status = \"REVIEW\";\n\n// --------------------------------------------------\n// Email decision\n// --------------------------------------------------\nlet email_subject = \"\";\nlet alert_level_label = \"\";\nlet email_intro = \"\";\nlet email_priority = \"normal\";\n\nif (critical > 0) {\n  email_subject = `🚨 [CRITICAL] SmartInfra Security Alert | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"CRITICAL\";\n  email_intro = \"พบความเสี่ยงระดับวิกฤตในผลการสแกนล่าสุด ควรตรวจสอบและดำเนินการโดยเร่งด่วน\";\n  email_priority = \"high\";\n} else if (high > 0) {\n  email_subject = `⚠️ [HIGH] SmartInfra Risk Report | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"HIGH\";\n  email_intro = \"พบความเสี่ยงระดับสูงในผลการสแกนล่าสุด ควรวางแผนตรวจสอบและแก้ไขโดยเร็ว\";\n  email_priority = \"high\";\n} else if (medium > 0) {\n  email_subject = `🟡 [MEDIUM] SmartInfra Security Summary | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"MEDIUM\";\n  email_intro = \"พบความเสี่ยงระดับปานกลางในผลการสแกนล่าสุด ควรตรวจสอบและวางแผนปรับปรุง\";\n  email_priority = \"normal\";\n} else {\n  email_subject = `🛡 [NORMAL] SmartInfra Daily Security Summary | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"NORMAL\";\n  email_intro = \"ไม่พบความเสี่ยงระดับสูงหรือวิกฤตในรอบการสแกนนี้ ระบบอยู่ในสถานะปกติ\";\n  email_priority = \"normal\";\n}\n\n// --------------------------------------------------\n// PDF link / drive link\n// --------------------------------------------------\nconst drive_link =\n  current.drive_link ||\n  current.webViewLink ||\n  report.drive_link ||\n  report.webViewLink ||\n  (current.id ? `https://drive.google.com/file/d/${current.id}/view?usp=sharing` : \"\") ||\n  \"\";\n\n// --------------------------------------------------\n// HTML email\n// --------------------------------------------------\nconst email_html = `\n<div style=\"font-family:Arial,Helvetica,sans-serif;color:#1f2937;line-height:1.6;max-width:820px;\">\n  <h2 style=\"margin:0 0 12px 0;color:#123B64;\">SmartInfra Security Scan Report</h2>\n\n  <table style=\"border-collapse:collapse;width:100%;max-width:620px;font-size:14px;\">\n    <tr><td style=\"padding:4px 0;width:180px;\"><b>Run ID:</b></td><td style=\"padding:4px 0;\">${run_id}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Security Status:</b></td><td style=\"padding:4px 0;\">${security_status}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Alert Level:</b></td><td style=\"padding:4px 0;\">${alert_level_label}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Scan Time:</b></td><td style=\"padding:4px 0;\">${scan_time_th || \"-\"}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Total Hosts:</b></td><td style=\"padding:4px 0;\">${total_hosts}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Total Findings:</b></td><td style=\"padding:4px 0;\">${total_findings}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Average Risk Score:</b></td><td style=\"padding:4px 0;\">${avg_risk_score.toFixed(1)}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Average Security Score:</b></td><td style=\"padding:4px 0;\">${avg_security_score.toFixed(1)}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Security Grade:</b></td><td style=\"padding:4px 0;\">${security_grade}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0 10px 0;\">${email_intro}</p>\n\n  <div style=\"margin:14px 0;padding:14px 16px;background:#f8fafc;border:1px solid #dbe4ee;border-radius:10px;max-width:620px;\">\n    <div style=\"font-weight:bold;color:#123B64;margin-bottom:8px;\">Risk Distribution</div>\n    <ul style=\"margin:0;padding-left:20px;\">\n      <li><b>CRITICAL:</b> ${critical}</li>\n      <li><b>HIGH:</b> ${high}</li>\n      <li><b>MEDIUM:</b> ${medium}</li>\n      <li><b>LOW:</b> ${low}</li>\n      <li><b>CVE Detected:</b> ${cve_count}</li>\n      <li><b>KEV Detected:</b> ${kev_count}</li>\n    </ul>\n  </div>\n\n  ${\n    drive_link\n      ? `<p style=\"margin:14px 0 0 0;\"><b>Download Report (PDF):</b></p>\n         <p style=\"margin:4px 0 16px 0;\">\n           <a href=\"${drive_link}\" target=\"_blank\" style=\"color:#1d4ed8;text-decoration:underline;\">\n             Open Vulnerability Assessment Report\n           </a>\n         </p>`\n      : ``\n  }\n\n  <hr style=\"border:none;border-top:1px solid #d1d5db;margin:18px 0;\" />\n\n  <p style=\"font-size:12px;color:#6b7280;margin:0 0 8px 0;\">\n    This is an automated security report generated by SmartInfra Security Suite.\n    Please review the full PDF report for full findings and remediation recommendations.\n  </p>\n\n  <p style=\"font-size:12px;color:#6b7280;margin:0;\">\n    ---<br/>\n    This email was sent automatically with <b>n8n</b>\n  </p>\n</div>\n`;\n\n// --------------------------------------------------\n// Plain text\n// --------------------------------------------------\nconst email_text = `\nSmartInfra Security Scan Report\n\nRun ID: ${run_id}\nSecurity Status: ${security_status}\nAlert Level: ${alert_level_label}\nScan Time: ${scan_time_th || \"-\"}\nTotal Hosts: ${total_hosts}\nTotal Findings: ${total_findings}\nAverage Risk Score: ${avg_risk_score.toFixed(1)}\nAverage Security Score: ${avg_security_score.toFixed(1)}\nSecurity Grade: ${security_grade}\n\nRisk Distribution\n- CRITICAL: ${critical}\n- HIGH: ${high}\n- MEDIUM: ${medium}\n- LOW: ${low}\n- CVE Detected: ${cve_count}\n- KEV Detected: ${kev_count}\n\n${drive_link ? `Download Report (PDF): ${drive_link}` : \"\"}\n\nThis is an automated security report generated by SmartInfra Security Suite.\n`;\n\n// --------------------------------------------------\n// Output\n// --------------------------------------------------\nreturn {\n  json: {\n    ...current,\n    ...report,\n\n    run_id,\n    report_name,\n    scan_time_th,\n    total_hosts,\n    total_findings,\n    avg_risk_score,\n    avg_security_score,\n    security_grade,\n    overall_threat,\n\n    critical_count: critical,\n    high_count: high,\n    medium_count: medium,\n    low_count: low,\n    cve_count,\n    kev_count,\n\n    security_status,\n    alert_level_label,\n    email_subject,\n    email_intro,\n    email_priority,\n    email_html,\n    email_text,\n    drive_link\n  },\n  binary: $binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        -1968
      ],
      "id": "3c939bfc-06b6-47e5-a692-9702154a9442",
      "name": "Code | Build Email Metadata"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "toId",
              "value": "=U32d5a8d54e796b034480619610895f9a"
            },
            {
              "name": "text",
              "value": "={{$json.line_message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set (LINE Target - Alert)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2640,
        -1392
      ],
      "id": "28c33312-6f14-481d-8844-33490382074e",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "text": "={{ $json.line_message }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessageNode",
      "typeVersion": 1,
      "position": [
        -2448,
        -1392
      ],
      "id": "be552151-e5d1-4aae-b4f0-0b044f974c59",
      "name": "LineMessageNode - Alert"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "targetRecipient": "={{ $('Set (LINE Target - Alert)').item.json.toId }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessaging",
      "typeVersion": 1,
      "position": [
        -2176,
        -1392
      ],
      "id": "ed55de6f-8096-4e20-93a8-8427f9bd2e0e",
      "name": "LineMessaging-SendMessage - Alert",
      "credentials": {
        "lineMessagingAuthApi": {
          "id": "GtPfESBwvTeGRAPD",
          "name": "Line Messaging Auth account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json || {};\n\n// ------------------\n// Helper\n// ------------------\nfunction num(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction text(v, def = \"-\") {\n  const s = String(v ?? \"\").trim();\n  return s ? s : def;\n}\n\nfunction gradeFromScore(score) {\n  if (score >= 90) return \"A\";\n  if (score >= 80) return \"B\";\n  if (score >= 70) return \"C\";\n  if (score >= 60) return \"D\";\n  return \"F\";\n}\n\n// ------------------\n// Extract counts\n// ------------------\nconst critical = num(d.critical_count);\nconst high = num(d.high_count);\nconst medium = num(d.medium_count);\nconst low = num(d.low_count);\n\nconst total_hosts = num(d.total_hosts);\nconst total_findings = num(d.total_findings);\nconst avg_risk_score = num(d.avg_risk_score);\n\n// ------------------\n// Security Score\n// ใช้ค่าที่มีอยู่ก่อน ถ้าไม่มีค่อยคำนวณ\n// ------------------\nlet security_score;\n\nif (d.security_score !== undefined && d.security_score !== null && d.security_score !== \"\") {\n  security_score = num(d.security_score);\n} else if (d.avg_security_score !== undefined && d.avg_security_score !== null && d.avg_security_score !== \"\") {\n  security_score = num(d.avg_security_score);\n} else {\n  security_score = 100 - avg_risk_score;\n}\n\nif (security_score < 0) security_score = 0;\nsecurity_score = Number(security_score.toFixed(1));\n\n// ------------------\n// Security Status\n// ------------------\nlet security_status = text(d.security_status, \"\");\n\nif (!security_status || security_status === \"-\") {\n  if (critical > 0) security_status = \"EMERGENCY\";\n  else if (high > 0) security_status = \"ATTENTION\";\n  else if (medium > 0) security_status = \"REVIEW\";\n  else security_status = \"NORMAL\";\n}\n\n// ------------------\n// Security Grade\n// ------------------\nlet security_grade = text(d.security_grade, \"\");\n\nif (!security_grade || security_grade === \"-\") {\n  security_grade = gradeFromScore(security_score);\n}\n\n// ------------------\n// Threat Level\n// ------------------\nlet threat_level = text(d.threat_level, \"\");\n\nif (!threat_level || threat_level === \"-\") {\n  if (critical > 0) threat_level = \"SEVERE\";\n  else if (high > 0) threat_level = \"HIGH\";\n  else if (medium > 0) threat_level = \"MODERATE\";\n  else threat_level = \"LOW\";\n}\n\n// ------------------\n// Risk Index\n// ใช้ค่าที่มีอยู่ก่อน ถ้าไม่มีค่อยคำนวณ\n// ------------------\nlet risk_index;\n\nif (d.risk_index !== undefined && d.risk_index !== null && d.risk_index !== \"\") {\n  risk_index = num(d.risk_index);\n} else {\n  risk_index =\n    (critical * 10) +\n    (high * 5) +\n    (medium * 2) +\n    (low * 1);\n}\n\n// ------------------\n// CVE / KEV Summary\n// ------------------\nconst cve_detected = num(\n  d.cve_detected ??\n  d.cve_count ??\n  d.total_cve ??\n  d.cve_total ??\n  0\n);\n\nconst kev_detected = num(\n  d.kev_detected ??\n  d.kev_count ??\n  d.total_kev ??\n  d.kev_total ??\n  0\n);\n\n// ------------------\n// Top Risk Host\n// ------------------\nconst top_risk_host = text(\n  d.top_risk_host ??\n  d.top_host ??\n  d.most_risky_host,\n  \"-\"\n);\n\nconst top_risk_service = text(\n  d.top_risk_service ??\n  d.top_service ??\n  d.most_risky_service,\n  \"-\"\n);\n\nconst top_risk_cve = text(\n  d.top_risk_cve ??\n  d.top_cve ??\n  d.most_risky_cve,\n  \"-\"\n);\n\n// ------------------\n// Links / meta\n// ------------------\nconst run_id = text(d.run_id, \"-\");\nconst report_name = text(d.report_name, \"SmartInfra_Security_Report\");\nconst scan_time_th = text(d.scan_time_th, \"-\");\n\nconst pdf_link = text(\n  d.pdf_link ??\n  d.drive_link ??\n  d.webViewLink,\n  \"\"\n);\n\n// ------------------\n// LINE / Email status\n// ใช้ค่าที่มีอยู่ก่อน ถ้าไม่มีค่อย default\n// ------------------\nconst line_channel = text(d.line_channel, \"ALERT\");\nconst line_status = text(d.line_status, \"SENT\");\nconst email_status = text(d.email_status, \"SENT\");\n\n// ------------------\n// Output\n// ------------------\nreturn {\n  json: {\n    ...d,\n\n    run_id,\n    report_name,\n    scan_time_th,\n\n    total_hosts,\n    total_findings,\n\n    critical_count: critical,\n    high_count: high,\n    medium_count: medium,\n    low_count: low,\n\n    avg_risk_score,\n    security_status,\n    security_score,\n    security_grade,\n    threat_level,\n    risk_index,\n\n    pdf_link,\n\n    cve_detected,\n    kev_detected,\n\n    top_risk_host,\n    top_risk_service,\n    top_risk_cve,\n\n    line_channel,\n    line_status,\n    email_status,\n\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -1728
      ],
      "id": "40742b33-ce8c-47ed-955f-65b82ed3f5f8",
      "name": "Code | Build Report Log"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA",
          "mode": "list",
          "cachedResultName": "sec_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1172587274,
          "mode": "list",
          "cachedResultName": "L5_report_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit#gid=1172587274"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "report_name": "={{ $json.report_name }}",
            "scan_time_th": "={{ $json.scan_time_th }}",
            "total_hosts": "={{ $json.total_hosts }}",
            "total_findings": "={{ $json.total_findings }}",
            "critical_count": "={{ $json.critical_count }}",
            "high_count": "={{ $json.high_count }}",
            "medium_count": "={{ $json.medium_count }}",
            "low_count": "={{ $json.low_count }}",
            "pdf_link": "={{ $json.pdf_link }}",
            "line_channel": "={{ $json.line_channel }}",
            "line_status": "={{ $json.line_status }}",
            "email_status": "={{ $json.email_status }}",
            "created_at": "={{ $json.created_at }}",
            "security_status": "={{ $json.security_status }}",
            "security_score": "={{ $json.security_score }}",
            " security_grade": "={{ $json.security_grade }}",
            "threat_level": "={{ $json.threat_level }}",
            "risk_index": "={{ $json.risk_index }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_name",
              "displayName": "report_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scan_time_th",
              "displayName": "scan_time_th",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_hosts",
              "displayName": "total_hosts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_findings",
              "displayName": "total_findings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "critical_count",
              "displayName": "critical_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "high_count",
              "displayName": "high_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medium_count",
              "displayName": "medium_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "low_count",
              "displayName": "low_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pdf_link",
              "displayName": "pdf_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_channel",
              "displayName": "line_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_status",
              "displayName": "line_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security_status",
              "displayName": "security_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security_score",
              "displayName": "security_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " security_grade",
              "displayName": " security_grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threat_level",
              "displayName": "threat_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_index",
              "displayName": "risk_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        -1728
      ],
      "id": "e0f84e73-f22e-47d0-ace4-6ed76ff5c86c",
      "name": "GS | Append Report Log",
      "credentials": {
        "googleApi": {
          "id": "cC6tqbqF8VT7WPZa",
          "name": "Google Sheets account-SmartInfra"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2096,
        -1952
      ],
      "id": "62cd9daa-67f8-400a-a9b1-81484542a2ed",
      "name": "Merge | Email Result"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Filter Latest Scan\n// Mode: Run Once for All Items\n\nfunction minuteKey(v) {\n  const s = String(v || '').trim();\n  // เอาถึงระดับนาที เช่น 2026-03-11T21:55\n  return s ? s.slice(0, 16) : '';\n}\n\n// หา minute ล่าสุด\nlet latestMinute = '';\n\nfor (const item of items) {\n  const key = minuteKey(item.json.detected_at);\n  if (key && key > latestMinute) {\n    latestMinute = key;\n  }\n}\n\n// คืนทุก item ที่อยู่ใน minute เดียวกัน\nreturn items.filter(item => minuteKey(item.json.detected_at) === latestMinute);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        -2000
      ],
      "id": "9ce38822-c7f9-4eb3-8b5a-7e560698b310",
      "name": "CODE | Filter Latest Scan"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Build Security Metrics\n// Run Once for All Items\n\nconst rows = items.map(i => i.json || {});\n\nfunction toNum(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction isTrueLike(v) {\n  const s = String(v ?? \"\").trim().toLowerCase();\n  return [\"1\", \"true\", \"yes\", \"y\", \"on\"].includes(s);\n}\n\nlet critical = 0;\nlet high = 0;\nlet medium = 0;\nlet low = 0;\nlet info = 0;\n\nlet totalRiskScore = 0;\nlet cveCount = 0;\nlet kevCount = 0;\n\nconst affectedHosts = new Set();\nconst hostStats = {};\n\nfor (const r of rows) {\n  const host = String(r.host || r.ip || r.target || \"\").trim();\n  const level = String(r.risk_level || r.severity || \"UNKNOWN\").trim().toUpperCase();\n  const score = toNum(r.risk_score, 0);\n\n  if (host) {\n    affectedHosts.add(host);\n\n    if (!hostStats[host]) {\n      hostStats[host] = {\n        host,\n        findings: 0,\n        critical: 0,\n        high: 0,\n        medium: 0,\n        low: 0,\n        risk_score_sum: 0,\n        kev_count: 0,\n        ports: new Set(),\n      };\n    }\n\n    hostStats[host].findings += 1;\n    hostStats[host].risk_score_sum += score;\n\n    if (r.port !== undefined && r.port !== null && String(r.port).trim() !== \"\") {\n      hostStats[host].ports.add(String(r.port).trim());\n    }\n  }\n\n  totalRiskScore += score;\n\n  if (level === \"CRITICAL\") {\n    critical++;\n    if (host) hostStats[host].critical++;\n  } else if (level === \"HIGH\") {\n    high++;\n    if (host) hostStats[host].high++;\n  } else if (level === \"MEDIUM\") {\n    medium++;\n    if (host) hostStats[host].medium++;\n  } else if (level === \"LOW\") {\n    low++;\n    if (host) hostStats[host].low++;\n  } else {\n    info++;\n  }\n\n  const cve = String(r.cve || \"\").trim();\n  if (cve) cveCount++;\n\n  const kev =\n    isTrueLike(r.kev) ||\n    isTrueLike(r.is_kev) ||\n    isTrueLike(r.known_exploited) ||\n    isTrueLike(r.cisa_kev);\n\n  if (kev) {\n    kevCount++;\n    if (host) hostStats[host].kev_count++;\n  }\n}\n\nconst totalFindings = rows.length;\nconst avgRiskScore = totalFindings > 0 ? +(totalRiskScore / totalFindings).toFixed(1) : 0;\n\n// จัดอันดับ Top Hosts\nconst rankedHosts = Object.values(hostStats)\n  .map(h => {\n    const avg = h.findings > 0 ? h.risk_score_sum / h.findings : 0;\n    const priorityScore =\n      (h.critical * 10) +\n      (h.high * 6) +\n      (h.medium * 3) +\n      (h.low * 1) +\n      (h.kev_count * 8) +\n      h.findings;\n\n    return {\n      host: h.host,\n      findings: h.findings,\n      critical: h.critical,\n      high: h.high,\n      medium: h.medium,\n      low: h.low,\n      kev_count: h.kev_count,\n      avg_risk_score: +avg.toFixed(1),\n      ports: Array.from(h.ports).sort((a, b) => Number(a) - Number(b)).join(\", \"),\n      priority_score: priorityScore,\n      max_risk_level:\n        h.critical > 0 ? \"CRITICAL\" :\n        h.high > 0 ? \"HIGH\" :\n        h.medium > 0 ? \"MEDIUM\" :\n        h.low > 0 ? \"LOW\" : \"INFO\"\n    };\n  })\n  .sort((a, b) => b.priority_score - a.priority_score);\n\nconst topAffectedHosts = rankedHosts.slice(0, 3);\n\n// สรุปภาพรวมเบื้องต้น\nlet overallRiskPosture = \"LOW\";\nif (critical > 0) overallRiskPosture = \"CRITICAL\";\nelse if (high > 0) overallRiskPosture = \"HIGH\";\nelse if (medium > 0) overallRiskPosture = \"MEDIUM\";\n\nreturn [\n  {\n    json: {\n      scan_time: new Date().toISOString(),\n      affected_hosts: affectedHosts.size,\n      total_findings: totalFindings,\n      critical,\n      high,\n      medium,\n      low,\n      info,\n      cve_count: cveCount,\n      kev_count: kevCount,\n      avg_risk_score: avgRiskScore,\n      overall_risk_posture: overallRiskPosture,\n      top_affected_hosts: topAffectedHosts\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3920,
        -2000
      ],
      "id": "788ad9d1-6a4f-4350-9f54-7df5ccc9546f",
      "name": "CODE | Build Security Metrics"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Calculate Security Score\n// Run Once for All Items\n\nconst d = items[0].json || {};\n\nfunction toNum(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nconst critical = toNum(d.critical);\nconst high = toNum(d.high);\nconst medium = toNum(d.medium);\nconst low = toNum(d.low);\nconst kevCount = toNum(d.kev_count);\nconst avgRiskScore = toNum(d.avg_risk_score);\n\n// ---------------- threat level ----------------\nlet threatLevel = \"LOW\";\nif (critical > 0) threatLevel = \"CRITICAL\";\nelse if (high > 0) threatLevel = \"HIGH\";\nelse if (medium > 0) threatLevel = \"MEDIUM\";\nelse if (low > 0) threatLevel = \"LOW\";\nelse threatLevel = \"INFO\";\n\n// ---------------- risk index (numeric) ----------------\n// น้ำหนัก severity แบบสมดุล\nconst riskIndex =\n  (critical * 10) +\n  (high * 6) +\n  (medium * 3) +\n  (low * 1) +\n  (kevCount * 8);\n\n// ---------------- security score (0..100) ----------------\n// penalty มาจาก risk index + avg risk score\nlet securityScore = 100 - (riskIndex + (avgRiskScore * 0.5));\n\n// clamp ให้อยู่ในช่วง 0..100\nsecurityScore = Math.max(0, Math.min(100, securityScore));\n\n// ปัด 1 ตำแหน่ง\nsecurityScore = Number(securityScore.toFixed(1));\n\n// ---------------- grade ----------------\nlet securityGrade = \"A\";\nif (securityScore < 90) securityGrade = \"B\";\nif (securityScore < 80) securityGrade = \"C\";\nif (securityScore < 70) securityGrade = \"D\";\nif (securityScore < 60) securityGrade = \"F\";\n\n// ---------------- status / posture ----------------\nlet securityStatus = \"NORMAL\";\nif (threatLevel === \"CRITICAL\") securityStatus = \"CRITICAL\";\nelse if (threatLevel === \"HIGH\") securityStatus = \"ELEVATED\";\nelse if (threatLevel === \"MEDIUM\") securityStatus = \"WATCH\";\nelse if (threatLevel === \"LOW\") securityStatus = \"NORMAL\";\nelse securityStatus = \"INFO\";\n\nconst overallRiskPosture = threatLevel;\n\n// ---------------- summary text ----------------\nlet executiveSummary = \"System posture appears stable with low immediate exposure.\";\nif (threatLevel === \"CRITICAL\") {\n  executiveSummary = \"Critical risk posture detected. Immediate remediation is strongly recommended.\";\n} else if (threatLevel === \"HIGH\") {\n  executiveSummary = \"Elevated risk posture. High-risk exposures should be prioritized for remediation.\";\n} else if (threatLevel === \"MEDIUM\") {\n  executiveSummary = \"Moderate exposure detected. Corrective controls and hardening are recommended.\";\n} else if (threatLevel === \"LOW\") {\n  executiveSummary = \"Low-risk exposures detected. Maintain patching and service hardening discipline.\";\n} else {\n  executiveSummary = \"Informational findings detected. Review exposed services and maintain baseline hardening.\";\n}\n\n// ---------------- label for display ----------------\nconst riskIndexLabel = `${threatLevel}-${securityScore.toFixed(1)}`;\n\nreturn [\n  {\n    json: {\n      ...d,\n      risk_index: riskIndex,\n      risk_index_label: riskIndexLabel,\n      security_score: securityScore,\n      security_grade: securityGrade,\n      threat_level: threatLevel,\n      security_status: securityStatus,\n      overall_risk_posture: overallRiskPosture,\n      executive_summary: executiveSummary\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3728,
        -2000
      ],
      "id": "72a6f910-5823-46ce-bd9e-90a55bf8318c",
      "name": "CODE | Calculate Security Score"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Prepare Report Data\n// Run Once for All Items\n\n// ---------------- helpers ----------------\nfunction pad2(n) { return String(n).padStart(2, \"0\"); }\n\nfunction safeArr(v) { return Array.isArray(v) ? v : []; }\n\nfunction toNumber(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction upper(s) {\n  return String(s ?? \"\").toUpperCase();\n}\n\nfunction uniq(arr) {\n  return [...new Set(safeArr(arr).filter(Boolean))];\n}\n\nfunction shortText(s, max = 120) {\n  const t = String(s ?? \"\");\n  return t.length > max ? `${t.slice(0, max)}...` : t;\n}\n\nfunction displayLevel(r) {\n  return upper(\n    r.threat_level ||\n    r.rule_risk ||\n    r.risk_level ||\n    r.severity ||\n    r.cve_severity ||\n    r.max_risk_level ||\n    \"UNKNOWN\"\n  );\n}\n\nfunction severityRank(level) {\n  const L = upper(level);\n  if (L === \"CRITICAL\" || L === \"SEVERE\") return 4;\n  if (L === \"HIGH\") return 3;\n  if (L === \"MEDIUM\" || L === \"MODERATE\") return 2;\n  if (L === \"LOW\") return 1;\n  if (L === \"INFO\") return 0;\n  return 0;\n}\n\nfunction riskColor(level) {\n  const L = upper(level);\n  if (L === \"CRITICAL\" || L === \"SEVERE\") return { bg: \"#FFE5E5\", bd: \"#FF5A5A\", fg: \"#7D0000\", soft: \"#FFF5F5\" };\n  if (L === \"HIGH\") return { bg: \"#FFF1E6\", bd: \"#FF8A3D\", fg: \"#7A2F00\", soft: \"#FFF8F2\" };\n  if (L === \"MEDIUM\" || L === \"MODERATE\") return { bg: \"#FFF7DB\", bd: \"#FFCC42\", fg: \"#6A4B00\", soft: \"#FFFDF4\" };\n  if (L === \"LOW\") return { bg: \"#E9FFF0\", bd: \"#4CC26A\", fg: \"#0B5A1A\", soft: \"#F5FFF8\" };\n  if (L === \"INFO\") return { bg: \"#F2F4F7\", bd: \"#D0D5DD\", fg: \"#344054\", soft: \"#FAFBFC\" };\n  return { bg: \"#F2F4F7\", bd: \"#D0D5DD\", fg: \"#344054\", soft: \"#FAFBFC\" };\n}\n\nfunction buildServiceLabel(r) {\n  const serviceName = String(r.service_name || \"\").trim();\n  const service = String(r.service || \"\").trim();\n  const product = String(r.product || \"\").trim();\n  return serviceName || service || product || \"-\";\n}\n\nfunction buildCveLabel(r) {\n  const top = String(r.top_cve_id || \"\").trim();\n  if (top) return top;\n\n  const raw = String(r.cve_ids || r.cve || \"\").trim();\n  if (!raw) return \"-\";\n\n  const first = raw.split(\",\").map(x => x.trim()).filter(Boolean)[0];\n  return first || \"-\";\n}\n\nfunction formatHostTopFinding(arr) {\n  const a = safeArr(arr);\n  if (!a.length) return \"-\";\n\n  const top = a\n    .slice()\n    .sort((x, y) => {\n      const sr = severityRank(displayLevel(y)) - severityRank(displayLevel(x));\n      if (sr !== 0) return sr;\n      return toNumber(y.security_score, toNumber(y.risk_score, 0)) - toNumber(x.security_score, toNumber(x.risk_score, 0));\n    })[0];\n\n  const svc = buildServiceLabel(top);\n  const port = top.port ?? \"-\";\n  const risk = displayLevel(top);\n  const cve = buildCveLabel(top);\n  return `${svc}:${port} (${risk}${cve !== \"-\" ? ` | ${cve}` : \"\"})`;\n}\n\nfunction avg(arr) {\n  const a = safeArr(arr).map(x => Number(x)).filter(x => Number.isFinite(x));\n  if (!a.length) return 0;\n  return a.reduce((s, n) => s + n, 0) / a.length;\n}\n\nfunction getOverallThreat(counts) {\n  if ((counts.CRITICAL || 0) > 0) return \"CRITICAL\";\n  if ((counts.HIGH || 0) > 0) return \"HIGH\";\n  if ((counts.MEDIUM || 0) > 0) return \"MEDIUM\";\n  if ((counts.LOW || 0) > 0) return \"LOW\";\n  if ((counts.INFO || 0) > 0) return \"INFO\";\n  return \"UNKNOWN\";\n}\n\n// ---------------- time ----------------\nconst now = new Date(Date.now() + 7 * 60 * 60 * 1000);\nconst yyyy = now.getUTCFullYear();\nconst mm = pad2(now.getUTCMonth() + 1);\nconst dd = pad2(now.getUTCDate());\nconst hh = pad2(now.getUTCHours());\nconst mi = pad2(now.getUTCMinutes());\nconst ss = pad2(now.getUTCSeconds());\n\nconst scanTimeTH = `${dd}/${mm}/${yyyy + 543} ${hh}:${mi}:${ss}`;\nconst scannedAtISO = `${yyyy}-${mm}-${dd}T${hh}:${mi}:${ss}+07:00`;\nconst reportName = `SmartInfra_L5_Security_Intelligence_${yyyy}-${mm}-${dd}_${hh}${mi}${ss}`;\n\n// ---------------- binary source from merge ----------------\nconst firstBinaryItem = items.find(i => i.binary && typeof i.binary === \"object\") || null;\nconst bin0 = firstBinaryItem?.binary || {};\n\n// ---------------- source data from previous nodes ----------------\nconst findings = $('CODE | Filter Latest Scan').all().map(i => {\n  const r = i.json || {};\n  return {\n    ...r,\n    ip: String(r.ip || r.host || \"-\").trim() || \"-\"\n  };\n});\n\nconst metrics = $('CODE | Build Security Metrics').first().json || {};\nconst scoreData = $('CODE | Calculate Security Score').first().json || {};\n\n// ---------------- summary values ----------------\nconst l5SecurityScore = toNumber(scoreData.security_score, 0);\nconst l5SecurityGrade = String(scoreData.security_grade || \"N/A\");\nconst l5RiskIndex = toNumber(scoreData.risk_index, 0);\nconst l5SecurityStatus = String(scoreData.security_status || \"UNKNOWN\");\n\n// ---------------- totals ----------------\nconst totalFindings = findings.length;\nconst uniqueHosts = uniq(findings.map(r => String(r.ip || \"\").trim()).filter(Boolean));\nconst totalHosts = uniqueHosts.length;\n\n// ---------------- counts from REAL findings ----------------\nconst counts = { CRITICAL: 0, HIGH: 0, MEDIUM: 0, LOW: 0, INFO: 0, UNKNOWN: 0 };\n\nlet totalRiskScore = 0;\nlet totalSecurityScore = 0;\nlet securityScoreCount = 0;\nlet kevCount = 0;\nlet cveDetectedCount = 0;\n\nfor (const r of findings) {\n  const lvl = displayLevel(r);\n  if (counts[lvl] !== undefined) counts[lvl] += 1;\n  else counts.UNKNOWN += 1;\n\n  totalRiskScore += toNumber(r.risk_score, 0);\n\n  const ssNum = toNumber(r.security_score, NaN);\n  if (Number.isFinite(ssNum)) {\n    totalSecurityScore += ssNum;\n    securityScoreCount += 1;\n  }\n\n  if (r.kev_exploited || r.kev || r.is_kev || r.known_exploited || r.cisa_kev) kevCount += 1;\n  if (r.cve_found || r.cve || r.cve_ids || r.top_cve_id) cveDetectedCount += 1;\n}\n\nconst avgRiskScore =\n  metrics.avg_risk_score !== undefined\n    ? toNumber(metrics.avg_risk_score, 0)\n    : (totalFindings ? totalRiskScore / totalFindings : 0);\n\nconst avgSecurityScore = securityScoreCount ? (totalSecurityScore / securityScoreCount) : l5SecurityScore;\n\n// ---------------- threat / posture from REAL findings ----------------\nconst overallThreat = getOverallThreat(counts);\nconst overallThreatColor = riskColor(overallThreat);\nconst l5ThreatLevel = overallThreat;\nconst l5OverallRiskPosture = overallThreat;\n\n// ---------------- grade from report score ----------------\nlet overallSecurityGrade = \"F\";\nif (l5SecurityScore >= 90) overallSecurityGrade = \"A\";\nelse if (l5SecurityScore >= 80) overallSecurityGrade = \"B\";\nelse if (l5SecurityScore >= 70) overallSecurityGrade = \"C\";\nelse if (l5SecurityScore >= 60) overallSecurityGrade = \"D\";\n\nlet postureText = \"System posture appears stable with low immediate exposure.\";\nif (overallThreat === \"CRITICAL\") postureText = \"Immediate action required. Critical-risk findings detected in the current attack surface.\";\nelse if (overallThreat === \"HIGH\") postureText = \"Elevated risk posture. High-risk exposures should be prioritized for remediation.\";\nelse if (overallThreat === \"MEDIUM\") postureText = \"Moderate exposure detected. Corrective controls and hardening are recommended.\";\nelse if (overallThreat === \"LOW\") postureText = \"Low-risk exposures detected. Maintain patching and service hardening discipline.\";\nelse if (overallThreat === \"INFO\") postureText = \"Informational findings detected. Review exposed services and maintain baseline hardening.\";\nelse postureText = \"No significant findings were detected in the current dataset.\";\n\n// ---------------- group by host ----------------\nconst hostMap = new Map();\n\nfor (const r of findings) {\n  const ip = String(r.ip || \"-\").trim() || \"-\";\n\n  if (!hostMap.has(ip)) {\n    hostMap.set(ip, {\n      ip,\n      findings: [],\n      ports: new Set(),\n      max_risk_level: \"INFO\",\n      max_risk_score: 0,\n      max_security_score: 0,\n      critical_count: 0,\n      high_count: 0,\n      medium_count: 0,\n      low_count: 0,\n      info_count: 0,\n      kev_count: 0,\n      cve_count: 0\n    });\n  }\n\n  const h = hostMap.get(ip);\n  h.findings.push(r);\n\n  if (r.port !== undefined && r.port !== null && String(r.port) !== \"\") {\n    h.ports.add(String(r.port));\n  }\n\n  const lvl = displayLevel(r);\n  if (lvl === \"CRITICAL\") h.critical_count += 1;\n  else if (lvl === \"HIGH\") h.high_count += 1;\n  else if (lvl === \"MEDIUM\") h.medium_count += 1;\n  else if (lvl === \"LOW\") h.low_count += 1;\n  else h.info_count += 1;\n\n  if (r.kev_exploited || r.kev || r.is_kev || r.known_exploited || r.cisa_kev) h.kev_count += 1;\n  if (r.cve_found || r.cve || r.cve_ids || r.top_cve_id) h.cve_count += 1;\n\n  const rs = toNumber(r.risk_score, 0);\n  const ssNum = toNumber(r.security_score, l5SecurityScore);\n\n  if (\n    severityRank(lvl) > severityRank(h.max_risk_level) ||\n    (severityRank(lvl) === severityRank(h.max_risk_level) && ssNum > h.max_security_score)\n  ) {\n    h.max_risk_level = lvl;\n    h.max_risk_score = rs;\n    h.max_security_score = ssNum;\n  }\n}\n\nconst hosts = [...hostMap.values()];\n\n// ---------------- top hosts ----------------\nconst top5Hosts = hosts\n  .map(h => ({\n    ...h,\n    ports_display: [...h.ports].sort((a, b) => Number(a) - Number(b)).join(\", \"),\n    finding_count: h.findings.length,\n    top_finding: formatHostTopFinding(h.findings),\n    avg_security_score: avg(h.findings.map(x => toNumber(x.security_score, l5SecurityScore)))\n  }))\n  .sort((a, b) => {\n    const sr = severityRank(b.max_risk_level) - severityRank(a.max_risk_level);\n    if (sr !== 0) return sr;\n    return b.max_security_score - a.max_security_score;\n  })\n  .slice(0, 5);\n\n// ---------------- top findings ----------------\nconst top10Findings = findings\n  .slice()\n  .sort((a, b) => {\n    const sr = severityRank(displayLevel(b)) - severityRank(displayLevel(a));\n    if (sr !== 0) return sr;\n    return toNumber(b.security_score, toNumber(b.risk_score, 0)) - toNumber(a.security_score, toNumber(a.risk_score, 0));\n  })\n  .slice(0, 10);\n\n// ---------------- executive lists ----------------\nconst executiveTop3Findings = top10Findings.slice(0, 3).map(r => ({\n  ip: r.ip || \"-\",\n  service_label: buildServiceLabel(r),\n  port: r.port ?? \"-\",\n  threat: displayLevel(r),\n  finding: shortText(r.finding || \"-\", 100),\n  cve: buildCveLabel(r)\n}));\n\nconst executiveTop3Hosts = top5Hosts.slice(0, 3).map(h => ({\n  ip: h.ip,\n  threat: h.max_risk_level,\n  findings: h.finding_count,\n  kev_count: h.kev_count,\n  ports: h.ports_display || \"-\"\n}));\n\n// ---------------- output ----------------\nreturn [{\n  json: {\n    report_name: reportName,\n    scanned_at: scannedAtISO,\n    scan_time_th: scanTimeTH,\n\n    total_hosts: totalHosts,\n    total_findings: totalFindings,\n    affected_hosts: totalHosts,\n\n    avg_risk_score: Number(avgRiskScore.toFixed(1)),\n    avg_security_score: Number(avgSecurityScore.toFixed(1)),\n    security_score: Number(l5SecurityScore.toFixed(1)),\n    security_grade: l5SecurityGrade,\n\n    risk_index: l5RiskIndex,\n    threat_level: l5ThreatLevel,\n    security_status: l5SecurityStatus,\n    overall_risk_posture: l5OverallRiskPosture,\n\n    overall_threat: overallThreat,\n    overall_threat_color: overallThreatColor,\n    overall_security_grade: overallSecurityGrade,\n    posture_text: postureText,\n\n    critical_count: counts.CRITICAL,\n    high_count: counts.HIGH,\n    medium_count: counts.MEDIUM,\n    low_count: counts.LOW,\n    info_count: counts.INFO,\n    unknown_count: counts.UNKNOWN,\n\n    cve_count: cveDetectedCount,\n    kev_count: kevCount,\n    risk_distribution: counts,\n\n    executive_top_3_findings: executiveTop3Findings,\n    executive_top_3_hosts: executiveTop3Hosts,\n\n    top5_hosts: top5Hosts,\n    top10_findings: top10Findings,\n    findings,\n\n    _debug_findings_from_filter_latest_scan: findings.length,\n    _debug_metrics_found: Object.keys(metrics).length > 0,\n    _debug_score_found: Object.keys(scoreData).length > 0,\n    _debug_binary_keys: Object.keys(bin0 || {})\n  },\n  binary: {\n    ...(bin0 || {})\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3872,
        -1456
      ],
      "id": "c43bfae1-8ab5-4151-bfe1-e97c80ecaa45",
      "name": "CODE | Prepare Report Data"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Build HTML Template\n// Run Once for All Items\n\nconst d = items[0].json || {};\nconst bin = items[0].binary || {};\n\n// ---------------- helpers ----------------\nfunction esc(s) {\n  return String(s ?? \"\")\n    .replaceAll(\"&\", \"&amp;\")\n    .replaceAll(\"<\", \"&lt;\")\n    .replaceAll(\">\", \"&gt;\")\n    .replaceAll('\"', \"&quot;\")\n    .replaceAll(\"'\", \"&#39;\");\n}\n\n// ---------------- binary -> data uri ----------------\nasync function binaryToBase64(prop, fallbackMime = \"image/png\") {\n  const binaryIndex = items.findIndex(i => i.binary && i.binary[prop]);\n  if (binaryIndex === -1) return { base64: \"\", mime: fallbackMime, via: \"none\" };\n\n  const b = items[binaryIndex].binary[prop];\n  const mime = b?.mimeType || fallbackMime;\n\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(binaryIndex, prop);\n    if (!buffer) return { base64: \"\", mime, via: \"no_buffer\" };\n    return { base64: buffer.toString(\"base64\"), mime, via: \"helper\" };\n  } catch (e) {\n    const direct = b?.data || \"\";\n    if (direct && typeof direct === \"string\" && direct.length > 1000) {\n      return { base64: direct, mime, via: \"direct\" };\n    }\n    return { base64: \"\", mime, via: \"error\" };\n  }\n}\n\nconst logoRes = await binaryToBase64.call(this, \"logo\", \"image/png\");\nconst sigRes = await binaryToBase64.call(this, \"signature\", \"image/png\");\n\nconst logoDataUri = logoRes.base64 ? `data:${logoRes.mime};base64,${logoRes.base64}` : \"\";\nconst signDataUri = sigRes.base64 ? `data:${sigRes.mime};base64,${sigRes.base64}` : \"\";\n\n// ---------------- main html ----------------\nconst html = `<!doctype html>\n<html lang=\"th\">\n<head>\n  <meta charset=\"utf-8\" />\n  <title>SmartInfra Security Suite | Security Intelligence Report (Level 5)</title>\n  <style>\n    :root{\n      --ink:#101828;\n      --muted:#475467;\n      --line:#DDE3EA;\n      --line-soft:#EEF2F6;\n      --brand:#123B64;\n      --brand2:#1F4E79;\n      --brand3:#2F6EA5;\n      --brand4:#0E2E4F;\n      --card:#FFFFFF;\n      --bg-soft:#F8FAFC;\n      --shadow:0 8px 24px rgba(16,24,40,.08);\n      --radius:14px;\n    }\n\n    *{ box-sizing:border-box; }\n    html, body { margin:0; padding:0; }\n\n    body{\n      font-family: Arial, Helvetica, sans-serif;\n      color:var(--ink);\n      background:#fff;\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n\n    @page {\n      size: A4;\n      margin: 16mm 12mm 18mm 12mm;\n\n      @bottom-left {\n        content: \"SmartInfra | Confidential\";\n        font-size: 9px;\n        color: #98A2B3;\n      }\n\n      @bottom-right {\n        content: \"Page \" counter(page) \" / \" counter(pages);\n        font-size: 9px;\n        color: #98A2B3;\n      }\n    }\n\n    .wm{\n      position: fixed;\n      inset: 0;\n      display:flex;\n      align-items:center;\n      justify-content:center;\n      pointer-events:none;\n      z-index: 0;\n    }\n\n    .wm span{\n      font-size: 58px;\n      font-weight: 700;\n      color: rgba(44,62,80,0.04);\n      transform: rotate(-28deg);\n      letter-spacing: 10px;\n      text-transform: uppercase;\n      user-select:none;\n      line-height: 1.15;\n      text-align: center;\n    }\n\n    .page{\n      position: relative;\n      z-index: 1;\n    }\n\n    .page-break{\n      page-break-before: always;\n      break-before: page;\n    }\n\n    .top{\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap:20px;\n      padding:16px 18px;\n      border:1px solid var(--line);\n      border-radius: var(--radius);\n      background: linear-gradient(135deg, #ffffff 0%, #f7fbff 55%, #ffffff 100%);\n      box-shadow: var(--shadow);\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .brand{\n      display:flex;\n      align-items:center;\n      gap:14px;\n      min-width: 340px;\n    }\n\n    .logo{\n      height:54px;\n      width:54px;\n      border-radius: 12px;\n      border:1px solid var(--line);\n      background:#fff;\n      object-fit: contain;\n      display:block;\n      padding:6px;\n      flex: 0 0 54px;\n    }\n\n    .brand h1{\n      font-size:20px;\n      margin:0;\n      letter-spacing:.2px;\n      color: var(--brand);\n    }\n\n    .brand .sub{\n      margin-top:3px;\n      font-size:12.5px;\n      color:var(--muted);\n    }\n\n    .meta{\n      text-align:right;\n      font-size:12px;\n      color:var(--muted);\n      line-height:1.5;\n      white-space:nowrap;\n    }\n\n    .pill{\n      display:inline-block;\n      padding:6px 10px;\n      border:1px solid var(--line);\n      border-radius:999px;\n      background:#fff;\n      font-weight:800;\n      color:var(--brand2);\n      margin-bottom:6px;\n    }\n\n    .risk-banner{\n      margin-top: 14px;\n      border:1px solid;\n      border-radius: 16px;\n      padding: 14px 16px;\n      display:grid;\n      grid-template-columns: 220px 1fr;\n      gap: 16px;\n      box-shadow: var(--shadow);\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .risk-banner-left{\n      border-right: 1px dashed rgba(0,0,0,.12);\n      padding-right: 14px;\n    }\n\n    .risk-banner-label{\n      font-size: 11px;\n      color: var(--muted);\n      text-transform: uppercase;\n      letter-spacing: .4px;\n      font-weight: 800;\n    }\n\n    .risk-banner-value{\n      margin-top: 4px;\n      font-size: 24px;\n      font-weight: 900;\n      letter-spacing: .4px;\n    }\n\n    .risk-banner-text{\n      font-size: 12.5px;\n      line-height: 1.65;\n      color: var(--ink);\n      padding-top: 3px;\n    }\n\n    .grid{\n      display:grid;\n      grid-template-columns: 1.2fr 1fr;\n      gap:14px;\n      margin-top:14px;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .card{\n      border:1px solid var(--line);\n      border-radius: var(--radius);\n      background: var(--card);\n      box-shadow: var(--shadow);\n      padding:14px 16px;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .card-title{\n      font-weight:900;\n      font-size:13px;\n      color:var(--brand2);\n      letter-spacing:.2px;\n      margin:0 0 8px 0;\n      display:flex;\n      align-items:center;\n      gap:8px;\n    }\n\n    .kpis{\n      display:grid;\n      grid-template-columns: repeat(3, 1fr);\n      gap:10px;\n      margin-top:8px;\n    }\n\n    .kpi{\n      border:1px solid var(--line-soft);\n      border-radius: 12px;\n      padding:10px 10px;\n      background:#fff;\n      min-height: 64px;\n    }\n\n    .kpi .n{\n      font-size:18px;\n      font-weight:900;\n      margin:0;\n      color: var(--brand);\n    }\n\n    .kpi .l{\n      font-size:11.5px;\n      color:var(--muted);\n      margin-top:2px;\n    }\n\n    .dist{\n      display:grid;\n      grid-template-columns: repeat(5, 1fr);\n      gap:8px;\n      margin-top:10px;\n    }\n\n    .dist .box{\n      border:1px solid var(--line-soft);\n      border-radius: 12px;\n      padding:10px 8px;\n      background:#fff;\n      text-align:center;\n      min-height: 60px;\n    }\n\n    .dist .box .n{\n      font-weight:900;\n      font-size:16px;\n      color: var(--brand);\n    }\n\n    .dist .box .l{\n      font-size:11px;\n      color:var(--muted);\n      margin-top:2px;\n    }\n\n    .highlight-list{\n      margin: 10px 0 0 0;\n      padding-left: 18px;\n      color: var(--ink);\n    }\n\n    .highlight-list li{\n      margin: 4px 0;\n      line-height: 1.5;\n      font-size: 12.2px;\n    }\n\n    .section-block{\n      margin-top:16px;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .appendix-start{\n      page-break-before: always;\n      break-before: page;\n      margin-top: 0;\n    }\n\n    .section-title{\n      margin: 0 0 8px 0;\n      font-weight: 900;\n      color: var(--brand2);\n      letter-spacing: .2px;\n      font-size: 13px;\n      display:flex;\n      align-items:center;\n      gap:8px;\n      page-break-after: avoid;\n      break-after: avoid;\n    }\n\n    .table-wrap{\n      border:1px solid var(--line);\n      border-radius: var(--radius);\n      overflow:hidden;\n      box-shadow: var(--shadow);\n      background:#fff;\n      page-break-inside: auto;\n      break-inside: auto;\n    }\n\n    .table-wrap.compact td,\n    .table-wrap.compact th{\n      padding-left: 7px;\n      padding-right: 7px;\n    }\n\n    table{\n      width:100%;\n      border-collapse:collapse;\n      table-layout: fixed;\n      background:#fff;\n    }\n\n    thead{\n      display: table-header-group;\n    }\n\n    thead th{\n      background: var(--brand2);\n      color:#fff;\n      font-size:12px;\n      padding:10px 8px;\n      text-align:center;\n      letter-spacing:.2px;\n      font-weight:800;\n      border-bottom: 1px solid #184364;\n      page-break-after: avoid;\n    }\n\n    tbody td{\n      border-top:1px solid var(--line);\n      padding:9px 8px;\n      font-size:12px;\n      vertical-align:top;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n    }\n\n    tbody tr{\n      page-break-inside: avoid;\n      break-inside: avoid;\n    }\n\n    tbody tr:nth-child(even){\n      background:#FBFDFF;\n    }\n\n    .cell-host{ font-weight: 900; width: 150px; white-space: nowrap; word-break: normal; overflow-wrap: normal; }\n    .cell-center{ text-align:center; white-space:nowrap; }\n    .cell-left{ text-align:left; }\n    .mono{\n      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace;\n    }\n\n    .small{\n      font-size:11.5px;\n      color:#1f2a44;\n    }\n\n    .badge{\n      display:inline-block;\n      padding:2px 9px;\n      border-radius:999px;\n      border:1px solid #ccc;\n      font-weight:900;\n      font-size:11px;\n      letter-spacing:.2px;\n      line-height: 1.3;\n    }\n\n    .badge-critical{\n      background:#FFE5E5;\n      border-color:#FF5A5A;\n      color:#7D0000;\n    }\n\n    .note{\n      margin-top:10px;\n      font-size:11.5px;\n      color:var(--muted);\n      line-height: 1.6;\n    }\n\n    .empty-row{\n      padding:16px 10px;\n      color: var(--muted);\n    }\n\n    ul.rec{\n      margin:0;\n      padding-left:18px;\n    }\n\n    ul.rec li{\n      margin:3px 0;\n      line-height: 1.45;\n    }\n\n    .appendix-note{\n      margin-top: 8px;\n      margin-bottom: 12px;\n      font-size: 11.5px;\n      color: var(--muted);\n      line-height: 1.6;\n    }\n\n    .footer{\n      margin-top:32px;\n      display:flex;\n      justify-content:space-between;\n      gap:36px;\n      align-items:flex-end;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .sign{\n      width:340px;\n      text-align:center;\n    }\n\n    .sig{\n      max-width:220px;\n      max-height:90px;\n      width:auto;\n      height:auto;\n      display:block;\n      margin:0 auto 10px auto;\n      object-fit:contain;\n    }\n\n    .line{\n      border-top:1px solid #111;\n      margin-top:8px;\n    }\n\n    .name{\n      margin-top:7px;\n      font-size:13px;\n      font-weight:900;\n    }\n\n    .title{\n      margin-top:3px;\n      font-size:12px;\n      color:var(--muted);\n      font-weight:800;\n    }\n\n    .cols-tophost th:nth-child(1){ width: 14%; }\n    .cols-tophost th:nth-child(2){ width: 10%; }\n    .cols-tophost th:nth-child(3){ width: 9%; }\n    .cols-tophost th:nth-child(4){ width: 8%; }\n    .cols-tophost th:nth-child(5){ width: 8%; }\n    .cols-tophost th:nth-child(6){ width: 7%; }\n    .cols-tophost th:nth-child(7){ width: 8%; }\n    .cols-tophost th:nth-child(8){ width: 7%; }\n    .cols-tophost th:nth-child(9){ width: 11%; }\n    .cols-tophost th:nth-child(10){ width: 18%; }\n\n    .cols-topfind th:nth-child(1){ width: 16%; }\n    .cols-topfind th:nth-child(2){ width: 8%; }\n    .cols-topfind th:nth-child(3){ width: 12%; }\n    .cols-topfind th:nth-child(4){ width: 12%; }\n    .cols-topfind th:nth-child(5){ width: 9%; }\n    .cols-topfind th:nth-child(6){ width: 13%; }\n    .cols-topfind th:nth-child(7){ width: 7%; }\n    .cols-topfind th:nth-child(8){ width: 23%; }\n\n    .cols-cve th:nth-child(1){ width: 15%; }\n    .cols-cve th:nth-child(2){ width: 8%; }\n    .cols-cve th:nth-child(3){ width: 13%; }\n    .cols-cve th:nth-child(4){ width: 18%; }\n    .cols-cve th:nth-child(5){ width: 8%; }\n    .cols-cve th:nth-child(6){ width: 8%; }\n    .cols-cve th:nth-child(7){ width: 30%; }\n\n    .cols-rem th:nth-child(1){ width: 14%; }\n    .cols-rem th:nth-child(2){ width: 10%; }\n    .cols-rem th:nth-child(3){ width: 8%; }\n    .cols-rem th:nth-child(4){ width: 32%; }\n    .cols-rem th:nth-child(5){ width: 36%; }\n\n    .appendix-table{\n      overflow: visible;\n    }\n\n    .appendix-risk-table{\n      width:100%;\n      border-collapse: collapse;\n      table-layout: auto;\n      background:#fff;\n    }\n\n    .appendix-risk-table thead{\n      display: table-header-group;\n    }\n\n    .appendix-risk-table th{\n      background: var(--brand2);\n      color:#fff;\n      font-size:12px;\n      padding:10px 8px;\n      text-align:center;\n      font-weight:800;\n      white-space: nowrap;\n      border-bottom: 1px solid #184364;\n    }\n\n    .appendix-risk-table td{\n      border-top:1px solid var(--line);\n      padding:10px 9px;\n      font-size:11.5px;\n      vertical-align: top;\n      word-break: normal;\n      overflow-wrap: break-word;\n      white-space: normal;\n      line-height: 1.45;\n    }\n\n    .appendix-risk-table tbody tr{\n      page-break-inside: avoid;\n      break-inside: avoid;\n    }\n\n    .appendix-risk-table tbody tr:nth-child(even){\n      background:#FBFDFF;\n    }\n\n    .appendix-risk-table th:nth-child(1),\n    .appendix-risk-table td:nth-child(1){ width: 12%; }\n\n    .appendix-risk-table th:nth-child(2),\n    .appendix-risk-table td:nth-child(2){ width: 6%; }\n\n    .appendix-risk-table th:nth-child(3),\n    .appendix-risk-table td:nth-child(3){ width: 6%; }\n\n    .appendix-risk-table th:nth-child(4),\n    .appendix-risk-table td:nth-child(4){ width: 10%; }\n\n    .appendix-risk-table th:nth-child(5),\n    .appendix-risk-table td:nth-child(5){ width: 9%; }\n\n    .appendix-risk-table th:nth-child(6),\n    .appendix-risk-table td:nth-child(6){ width: 7%; }\n\n    .appendix-risk-table th:nth-child(7),\n    .appendix-risk-table td:nth-child(7){ width: 12%; }\n\n    .appendix-risk-table th:nth-child(8),\n    .appendix-risk-table td:nth-child(8){ width: 18%; }\n\n    .appendix-risk-table th:nth-child(9),\n    .appendix-risk-table td:nth-child(9){ width: 20%; }\n\n    .top, .grid, .card, .section-block, .footer {\n      orphans: 3;\n      widows: 3;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"wm\"><span>SMARTINFRA SECURITY INTELLIGENCE<br>CONFIDENTIAL</span></div>\n\n  <div class=\"page\">\n    <div class=\"top\">\n      <div class=\"brand\">\n        ${\n          logoDataUri\n            ? `<img class=\"logo\" src=\"${logoDataUri}\" alt=\"logo\" />`\n            : `<div class=\"logo\" style=\"display:flex;align-items:center;justify-content:center;color:#98A2B3;font-weight:900;\">LOGO</div>`\n        }\n        <div>\n          <h1>SmartInfra Security Suite | Executive Summary</h1>\n          <div class=\"sub\">Level 5 — Security Intelligence | Professional Plus</div>\n        </div>\n      </div>\n\n      <div class=\"meta\">\n        <div class=\"pill\">Internal Use</div><br/>\n        <div><b>Scan Time:</b> ${esc(d.scan_time_th)}</div>\n        <div><b>Total Hosts:</b> ${esc(d.total_hosts)}</div>\n        <div><b>Total Findings:</b> ${esc(d.total_findings)}</div>\n      </div>\n    </div>\n\n    ${d.risk_banner_html || \"\"}\n\n    <div class=\"grid\">\n      <div class=\"card\">\n        <div class=\"card-title\">📌 Executive Overview</div>\n        <div class=\"kpis\">\n          <div class=\"kpi\"><div class=\"n\">${esc(d.affected_hosts)}</div><div class=\"l\">Affected Hosts</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(d.total_findings)}</div><div class=\"l\">Total Findings</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(Number(d.avg_risk_score || 0).toFixed(1))}</div><div class=\"l\">Avg Risk Score</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(Number(d.security_score || 0).toFixed(1))}</div><div class=\"l\">Security Score</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(d.security_grade || \"N/A\")}</div><div class=\"l\">Security Grade</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(d.kev_count || 0)}</div><div class=\"l\">KEV Detected</div></div>\n        </div>\n        <div class=\"note\">\n          ภาพรวมการประเมินครั้งนี้สะท้อนสถานะความปลอดภัยของระบบจากข้อมูลสแกนล่าสุด\n          โดยเน้นการจัดลำดับความเสี่ยงและการตัดสินใจเชิงบริหารเพื่อใช้วางแผน remediation\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-title\">🧭 Threat Distribution</div>\n        <div class=\"dist\">\n          <div class=\"box\"><div class=\"n\">${esc(d.critical_count || 0)}</div><div class=\"l\">CRITICAL</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(d.high_count || 0)}</div><div class=\"l\">HIGH</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(d.medium_count || 0)}</div><div class=\"l\">MEDIUM</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(d.low_count || 0)}</div><div class=\"l\">LOW</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(d.cve_count || 0)}</div><div class=\"l\">CVE</div></div>\n        </div>\n        <div class=\"note\">\n          ใช้หน้านี้เป็นหน้าสรุปสำหรับผู้บริหารก่อนลงรายละเอียดเชิงเทคนิคในหน้าถัดไป\n        </div>\n      </div>\n    </div>\n\n    <div class=\"grid\" style=\"margin-top:16px;\">\n      <div class=\"card\">\n        <div class=\"card-title\">🚨 Top 3 Urgent Findings</div>\n        <ul class=\"highlight-list\">\n          ${d.executive_top_3_findings_html || \"<li>No urgent findings</li>\"}\n        </ul>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-title\">🖥 Top 3 Affected Hosts</div>\n        <ul class=\"highlight-list\">\n          ${d.executive_top_3_hosts_html || \"<li>No affected hosts</li>\"}\n        </ul>\n      </div>\n    </div>\n\n    <div class=\"card\" style=\"margin-top:16px;\">\n      <div class=\"card-title\">🛠 Immediate Recommended Actions</div>\n      <ul class=\"highlight-list\">\n        <li>เร่งตรวจสอบและจำกัดการเข้าถึงบริการที่มีความเสี่ยงระดับ HIGH/CRITICAL ก่อนเป็นลำดับแรก</li>\n        <li>ดำเนินการ patching / upgrade สำหรับบริการที่เชื่อมโยงกับ CVE และ KEV</li>\n        <li>ทบทวน exposure ของพอร์ตที่เปิดสู่เครือข่าย โดยเฉพาะพอร์ต admin, web, camera และ remote service</li>\n        <li>บังคับใช้ hardening, credential review, segmentation และ logging สำหรับ host ที่อยู่ใน Top Risk</li>\n      </ul>\n    </div>\n\n    ${d.top_hosts_section || \"\"}\n    ${d.top_findings_section || \"\"}\n    ${d.top_cve_section || \"\"}\n    ${d.remediation_section || \"\"}\n    ${d.appendix_section || \"\"}\n\n    <div class=\"footer\">\n      <div class=\"sign\">\n        ${\n          signDataUri\n            ? `<img class=\"sig\" src=\"${signDataUri}\" alt=\"signature\" />`\n            : `<div style=\"height:56px;color:#98A2B3;font-weight:900;display:flex;align-items:center;justify-content:center;\">Signature</div>`\n        }\n        <div class=\"line\"></div>\n        <div class=\"name\">ท่านเซ่อ สมโภช ทองน้ำเที่ยง</div>\n        <div class=\"title\">ผอ. หน่วยข่าวกรองด้านไซเบอร์</div>\n      </div>\n\n      <div class=\"sign\">\n        <div style=\"height:56px\"></div>\n        <div class=\"line\"></div>\n        <div class=\"name\">Approved By</div>\n        <div class=\"title\">&nbsp;</div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...d,\n    html,\n    _debug_logo_via: logoRes.via,\n    _debug_sig_via: sigRes.via,\n    _debug_logo_len: (logoRes.base64 || \"\").length,\n    _debug_sig_len: (sigRes.base64 || \"\").length\n  },\n  binary: {\n    ...bin\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3520,
        -1760
      ],
      "id": "8b4898d8-5ea6-45a7-9a80-70e86083603c",
      "name": "CODE | Build HTML Template"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Output HTML Binary\n// Run Once for All Items\n\nconst d = items[0].json || {};\nconst bin = items[0].binary || {};\n\nconst html = String(d.html || \"\");\nconst htmlBuffer = Buffer.from(html, \"utf8\");\n\nreturn [{\n  json: {\n    report_name: d.report_name,\n    scanned_at: d.scanned_at,\n    scan_time_th: d.scan_time_th,\n\n    total_hosts: d.total_hosts,\n    total_findings: d.total_findings,\n    affected_hosts: d.affected_hosts,\n\n    avg_risk_score: d.avg_risk_score,\n    avg_security_score: d.avg_security_score,\n\n    security_score: d.security_score,\n    security_grade: d.security_grade,\n    risk_index: d.risk_index,\n    risk_index_label: d.risk_index_label,\n    threat_level: d.threat_level,\n    security_status: d.security_status,\n    overall_risk_posture: d.overall_risk_posture,\n    overall_threat: d.overall_threat,\n\n    critical_count: d.critical_count,\n    high_count: d.high_count,\n    medium_count: d.medium_count,\n    low_count: d.low_count,\n    info_count: d.info_count,\n    unknown_count: d.unknown_count,\n\n    cve_count: d.cve_count,\n    kev_count: d.kev_count,\n    risk_distribution: d.risk_distribution,\n\n    executive_summary: d.executive_summary,\n\n    _debug_logo_via: d._debug_logo_via,\n    _debug_sig_via: d._debug_sig_via,\n    _debug_logo_len: d._debug_logo_len,\n    _debug_sig_len: d._debug_sig_len,\n    _debug_html_len: html.length\n  },\n  binary: {\n    ...(bin || {}),\n    html: {\n      data: htmlBuffer.toString(\"base64\"),\n      mimeType: \"text/html\",\n      fileName: \"index.html\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        -1760
      ],
      "id": "8f2b60ab-ab91-4a81-b569-9a377406cbcf",
      "name": "CODE | Output HTML Binary"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Build Report Sections\n// Run Once for All Items\n\nconst d = items[0].json || {};\nconst bin = items[0].binary || {};\n\n// ---------------- helpers ----------------\nfunction esc(s) {\n  return String(s ?? \"\")\n    .replaceAll(\"&\", \"&amp;\")\n    .replaceAll(\"<\", \"&lt;\")\n    .replaceAll(\">\", \"&gt;\")\n    .replaceAll('\"', \"&quot;\")\n    .replaceAll(\"'\", \"&#39;\");\n}\n\nfunction safeArr(v) { return Array.isArray(v) ? v : []; }\n\nfunction toNumber(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction upper(s) {\n  return String(s ?? \"\").toUpperCase();\n}\n\nfunction uniq(arr) {\n  return [...new Set(safeArr(arr).filter(Boolean))];\n}\n\nfunction shortText(s, max = 120) {\n  const t = String(s ?? \"\");\n  return t.length > max ? `${t.slice(0, max)}...` : t;\n}\n\nfunction severityRank(level) {\n  const L = upper(level);\n  if (L === \"CRITICAL\" || L === \"SEVERE\") return 4;\n  if (L === \"HIGH\") return 3;\n  if (L === \"MEDIUM\" || L === \"MODERATE\") return 2;\n  if (L === \"LOW\") return 1;\n  if (L === \"INFO\") return 0;\n  return 0;\n}\n\nfunction riskColor(level) {\n  const L = upper(level);\n  if (L === \"CRITICAL\" || L === \"SEVERE\") return { bg: \"#FFE5E5\", bd: \"#FF5A5A\", fg: \"#7D0000\", soft: \"#FFF5F5\" };\n  if (L === \"HIGH\") return { bg: \"#FFF1E6\", bd: \"#FF8A3D\", fg: \"#7A2F00\", soft: \"#FFF8F2\" };\n  if (L === \"MEDIUM\" || L === \"MODERATE\") return { bg: \"#FFF7DB\", bd: \"#FFCC42\", fg: \"#6A4B00\", soft: \"#FFFDF4\" };\n  if (L === \"LOW\") return { bg: \"#E9FFF0\", bd: \"#4CC26A\", fg: \"#0B5A1A\", soft: \"#F5FFF8\" };\n  if (L === \"INFO\") return { bg: \"#F2F4F7\", bd: \"#D0D5DD\", fg: \"#344054\", soft: \"#FAFBFC\" };\n  return { bg: \"#F2F4F7\", bd: \"#D0D5DD\", fg: \"#344054\", soft: \"#FAFBFC\" };\n}\n\nfunction riskBadge(level) {\n  const L = upper(level || \"UNKNOWN\");\n  const c = riskColor(L);\n  return `<span class=\"badge\" style=\"background:${c.bg};border-color:${c.bd};color:${c.fg}\">${esc(L)}</span>`;\n}\n\nfunction buildServiceLabel(r) {\n  const serviceName = String(r.service_name || \"\").trim();\n  const service = String(r.service || \"\").trim();\n  const product = String(r.product || \"\").trim();\n  return serviceName || service || product || \"-\";\n}\n\nfunction buildCveLabel(r) {\n  const top = String(r.top_cve_id || \"\").trim();\n  if (top) return top;\n\n  const raw = String(r.cve_ids || r.cve || \"\").trim();\n  if (!raw) return \"-\";\n\n  const first = raw.split(\",\").map(x => x.trim()).filter(Boolean)[0];\n  return first || \"-\";\n}\n\nfunction buildSection(title, innerHtml, extraClass = \"\") {\n  return `\n    <section class=\"section-block ${extraClass}\">\n      <div class=\"section-title\">${title}</div>\n      ${innerHtml}\n    </section>\n  `;\n}\n\n// ---------------- source data ----------------\nconst findings = safeArr(d.findings);\nconst top5Hosts = safeArr(d.top5_hosts);\nconst top10Findings = safeArr(d.top10_findings);\nconst executiveTop3Findings = safeArr(d.executive_top_3_findings);\nconst executiveTop3Hosts = safeArr(d.executive_top_3_hosts);\n\nconst overallThreat = d.overall_threat || d.threat_level || d.overall_risk_posture || \"UNKNOWN\";\nconst overallThreatColor = d.overall_threat_color || riskColor(overallThreat);\nconst postureText = d.executive_summary || d.posture_text || \"\";\n\n// ---------------- risk banner ----------------\nconst riskBannerHtml = `\n  <div class=\"risk-banner\" style=\"background:${overallThreatColor.soft}; border-color:${overallThreatColor.bd};\">\n    <div class=\"risk-banner-left\">\n      <div class=\"risk-banner-label\">Overall Risk Posture</div>\n      <div class=\"risk-banner-value\" style=\"color:${overallThreatColor.fg}\">${esc(d.overall_risk_posture || overallThreat)}</div>\n    </div>\n    <div class=\"risk-banner-right\">\n      <div class=\"risk-banner-text\">${esc(postureText)}</div>\n    </div>\n  </div>\n`;\n\n// ---------------- executive top 3 html ----------------\nconst executiveTop3FindingsHtml = executiveTop3Findings.length\n  ? executiveTop3Findings.map(r => `\n      <li>\n        <b>${esc(r.ip || \"-\")} : ${esc(r.service_label || \"-\")}:${esc(r.port ?? \"-\")}</b>\n        — ${esc(r.threat || \"UNKNOWN\")}\n        — ${esc(r.finding || \"-\")}\n        ${r.cve && r.cve !== \"-\" ? ` <span class=\"mono\">[${esc(r.cve)}]</span>` : \"\"}\n      </li>\n    `).join(\"\")\n  : \"<li>No urgent findings</li>\";\n\nconst executiveTop3HostsHtml = executiveTop3Hosts.length\n  ? executiveTop3Hosts.map(h => `\n      <li>\n        <b>${esc(h.ip || \"-\")}</b>\n        — ${esc(h.threat || \"UNKNOWN\")}\n        — Findings: ${esc(h.findings ?? 0)}\n        — KEV: ${esc(h.kev_count ?? 0)}\n        — Ports: ${esc(h.ports || \"-\")}\n      </li>\n    `).join(\"\")\n  : \"<li>No affected hosts</li>\";\n\n// ---------------- top host rows ----------------\nconst topHostRows = top5Hosts\n  .map(h => `\n    <tr>\n      <td class=\"cell-host\">${esc(h.ip)}</td>\n      <td class=\"cell-center\">${riskBadge(h.max_risk_level)}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(h.max_security_score, d.security_score || 0).toFixed(1))}</td>\n      <td class=\"cell-center mono\">${esc(h.finding_count ?? 0)}</td>\n      <td class=\"cell-center mono\">${esc(h.critical_count ?? 0)}</td>\n      <td class=\"cell-center mono\">${esc(h.high_count ?? 0)}</td>\n      <td class=\"cell-center mono\">${esc(h.medium_count ?? 0)}</td>\n      <td class=\"cell-center mono\">${esc(h.kev_count ?? 0)}</td>\n      <td class=\"cell-left small\">${esc(h.ports_display || \"-\")}</td>\n      <td class=\"cell-left small\">${esc(h.top_finding || \"-\")}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// ---------------- top findings rows ----------------\nconst topFindingsRows = top10Findings\n  .map(r => `\n    <tr>\n      <td class=\"cell-host\">${esc(r.ip || \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.port ?? \"-\")}</td>\n      <td class=\"cell-left\">${esc(buildServiceLabel(r))}</td>\n      <td class=\"cell-center\">${riskBadge(r.threat_level || r.rule_risk || r.risk_level || r.severity || r.cve_severity || \"UNKNOWN\")}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(r.security_score, toNumber(r.risk_score, 0)).toFixed(1))}</td>\n      <td class=\"cell-left small mono\">${esc(buildCveLabel(r))}</td>\n      <td class=\"cell-center\">${(r.kev_exploited || r.kev || r.is_kev || r.known_exploited || r.cisa_kev) ? \"YES\" : \"-\"}</td>\n      <td class=\"cell-left small\">${esc(shortText(r.finding || \"-\", 110))}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// ---------------- top CVE rows ----------------\nconst topCveRows = findings\n  .filter(r =>\n    r.cve_found || r.cve || r.cve_ids || r.top_cve_id ||\n    r.kev_exploited || r.kev || r.is_kev || r.known_exploited || r.cisa_kev\n  )\n  .slice()\n  .sort((a, b) => {\n    const bKev = Boolean(b.kev_exploited || b.kev || b.is_kev || b.known_exploited || b.cisa_kev);\n    const aKev = Boolean(a.kev_exploited || a.kev || a.is_kev || a.known_exploited || a.cisa_kev);\n    if (bKev !== aKev) return Number(bKev) - Number(aKev);\n\n    const sr =\n      severityRank(b.threat_level || b.rule_risk || b.risk_level || b.severity || b.cve_severity || \"UNKNOWN\") -\n      severityRank(a.threat_level || a.rule_risk || a.risk_level || a.severity || a.cve_severity || \"UNKNOWN\");\n    if (sr !== 0) return sr;\n\n    return toNumber(b.max_cvss_score, 0) - toNumber(a.max_cvss_score, 0);\n  })\n  .slice(0, 10)\n  .map(r => `\n    <tr>\n      <td class=\"cell-host\">${esc(r.ip || \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.port ?? \"-\")}</td>\n      <td class=\"cell-left\">${esc(buildServiceLabel(r))}</td>\n      <td class=\"cell-left small mono\">${esc(buildCveLabel(r))}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(r.max_cvss_score, 0).toFixed(1))}</td>\n      <td class=\"cell-center\">${(r.kev_exploited || r.kev || r.is_kev || r.known_exploited || r.cisa_kev) ? `<span class=\"badge badge-critical\">KEV</span>` : \"-\"}</td>\n      <td class=\"cell-left small\">${esc(shortText(r.top_cve_description || r.finding || \"-\", 130))}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// ---------------- remediation rows ----------------\nlet remediationRows = \"\";\n\nfor (const h of top5Hosts) {\n  const hostFindings = safeArr(h.findings);\n\n  const recs = uniq(hostFindings.map(x => String(x.recommendation || \"\").trim()).filter(Boolean));\n\n  const issues = hostFindings\n    .slice()\n    .sort((a, b) => {\n      const sr =\n        severityRank(b.threat_level || b.rule_risk || b.risk_level || b.severity || b.cve_severity || \"UNKNOWN\") -\n        severityRank(a.threat_level || a.rule_risk || a.risk_level || a.severity || a.cve_severity || \"UNKNOWN\");\n      if (sr !== 0) return sr;\n      return toNumber(b.security_score, toNumber(b.risk_score, 0)) - toNumber(a.security_score, toNumber(a.risk_score, 0));\n    })\n    .slice(0, 5)\n    .map(x => {\n      const svc = buildServiceLabel(x);\n      const cve = buildCveLabel(x);\n      return `<li><b>${esc(`${svc}:${x.port ?? \"-\"}`)}:</b> ${esc(x.finding || \"-\")}${cve !== \"-\" ? ` <span class=\"mono\">[${esc(cve)}]</span>` : \"\"}</li>`;\n    })\n    .join(\"\");\n\n  const acts = recs.length\n    ? recs.slice(0, 5).map(x => `<li>${esc(x)}</li>`).join(\"\")\n    : `<li>อัปเดตแพตช์, จำกัดการเข้าถึง, ตรวจสอบ hardening, logging และ access control ของบริการที่เปิดใช้งาน</li>`;\n\n  remediationRows += `\n    <tr>\n      <td class=\"cell-host\">${esc(h.ip)}</td>\n      <td class=\"cell-center\">${riskBadge(h.max_risk_level)}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(h.max_security_score, d.security_score || 0).toFixed(1))}</td>\n      <td class=\"cell-left small\"><ul class=\"rec\">${issues || \"<li>-</li>\"}</ul></td>\n      <td class=\"cell-left small\"><ul class=\"rec\">${acts}</ul></td>\n    </tr>\n  `;\n}\n\n// ---------------- appendix rows ----------------\nconst appendixRows = findings\n  .slice()\n  .sort((a, b) => {\n    const sr =\n      severityRank(b.threat_level || b.rule_risk || b.risk_level || b.severity || b.cve_severity || \"UNKNOWN\") -\n      severityRank(a.threat_level || a.rule_risk || a.risk_level || a.severity || a.cve_severity || \"UNKNOWN\");\n    if (sr !== 0) return sr;\n    return toNumber(b.security_score, toNumber(b.risk_score, 0)) - toNumber(a.security_score, toNumber(a.risk_score, 0));\n  })\n  .map(r => `\n    <tr>\n      <td class=\"cell-host\">${esc(r.ip || \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.port ?? \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.protocol || \"-\")}</td>\n      <td class=\"cell-left\">${esc(buildServiceLabel(r))}</td>\n      <td class=\"cell-center\">${riskBadge(r.threat_level || r.rule_risk || r.risk_level || r.severity || r.cve_severity || \"UNKNOWN\")}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(r.security_score, toNumber(r.risk_score, 0)).toFixed(1))}</td>\n      <td class=\"cell-left small mono\">${esc(buildCveLabel(r))}</td>\n      <td class=\"cell-left small\">${esc(r.finding || \"-\")}</td>\n      <td class=\"cell-left small\">${esc(r.recommendation || \"-\")}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// ---------------- section blocks ----------------\nconst topHostsSection = buildSection(\n  \"⭐ Top 5 Hosts by Maximum Threat\",\n  `<div class=\"table-wrap compact cols-tophost\">\n    <table>\n      <thead>\n        <tr>\n          <th>Host</th>\n          <th>Threat</th>\n          <th>Risk Score</th>\n          <th>Findings</th>\n          <th>Critical</th>\n          <th>High</th>\n          <th>Medium</th>\n          <th>KEV</th>\n          <th>Ports</th>\n          <th>Top Finding</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${topHostRows || `<tr><td colspan=\"10\" class=\"cell-center empty-row\">No data</td></tr>`}\n      </tbody>\n    </table>\n  </div>`\n);\n\nconst topFindingsSection = buildSection(\n  \"🚨 Top 10 Findings\",\n  `<div class=\"table-wrap compact cols-topfind\">\n    <table>\n      <thead>\n        <tr>\n          <th>IP</th>\n          <th>Port</th>\n          <th>Service</th>\n          <th>Threat</th>\n          <th>Risk Score</th>\n          <th>CVE</th>\n          <th>KEV</th>\n          <th>Finding</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${topFindingsRows || `<tr><td colspan=\"8\" class=\"cell-center empty-row\">No data</td></tr>`}\n      </tbody>\n    </table>\n  </div>`\n);\n\nconst topCveSection = buildSection(\n  \"🦠 Top CVE / Known Exploited Vulnerabilities\",\n  `<div class=\"table-wrap compact cols-cve\">\n    <table>\n      <thead>\n        <tr>\n          <th>IP</th>\n          <th>Port</th>\n          <th>Service</th>\n          <th>CVE</th>\n          <th>CVSS</th>\n          <th>KEV</th>\n          <th>Description</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${topCveRows || `<tr><td colspan=\"7\" class=\"cell-center empty-row\">No CVE/KEV data</td></tr>`}\n      </tbody>\n    </table>\n  </div>`\n);\n\nconst remediationSection = buildSection(\n  \"🛠 Remediation Recommendations (Top 5 Hosts)\",\n  `<div class=\"table-wrap compact cols-rem\">\n    <table>\n      <thead>\n        <tr>\n          <th>Host</th>\n          <th>Threat</th>\n          <th>Risk Score</th>\n          <th>Key Issues</th>\n          <th>Recommended Actions</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${remediationRows || `<tr><td colspan=\"5\" class=\"cell-center empty-row\">No remediation data</td></tr>`}\n      </tbody>\n    </table>\n  </div>`\n);\n\nconst appendixSection = buildSection(\n  \"📎 Appendix A — Full Risk Findings\",\n  `\n    <div class=\"appendix-note\">\n      ภาคผนวกนี้แสดงรายละเอียด findings ทั้งหมดสำหรับการตรวจสอบย้อนกลับ การวิเคราะห์เชิงเทคนิค\n      และการส่งต่อให้ทีมปฏิบัติการใช้วางแผน remediation ต่อไป\n    </div>\n\n    <div class=\"table-wrap appendix-table\">\n      <table class=\"appendix-risk-table\">\n        <thead>\n          <tr>\n            <th>IP</th>\n            <th>Port</th>\n            <th>Proto</th>\n            <th>Service</th>\n            <th>Threat</th>\n            <th>Risk Score</th>\n            <th>CVE</th>\n            <th>Finding</th>\n            <th>Recommendation</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${appendixRows || `<tr><td colspan=\"9\" class=\"cell-center empty-row\">No data</td></tr>`}\n        </tbody>\n      </table>\n    </div>\n  `,\n  \"appendix-start\"\n);\n\n// ---------------- output ----------------\nreturn [{\n  json: {\n    ...d,\n\n    risk_banner_html: riskBannerHtml,\n\n    executive_top_3_findings_html: executiveTop3FindingsHtml,\n    executive_top_3_hosts_html: executiveTop3HostsHtml,\n\n    top_host_rows: topHostRows,\n    top_findings_rows: topFindingsRows,\n    top_cve_rows: topCveRows,\n    remediation_rows: remediationRows,\n    appendix_rows: appendixRows,\n\n    top_hosts_section: topHostsSection,\n    top_findings_section: topFindingsSection,\n    top_cve_section: topCveSection,\n    remediation_section: remediationSection,\n    appendix_section: appendixSection\n  },\n  binary: {\n    ...bin\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3712,
        -1760
      ],
      "id": "20beafd7-4988-4a57-bb4a-63ed1ef9e4f2",
      "name": "CODE | Build Report Sections"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cc044ab-e196-44e5-adac-08cff875108a",
              "leftValue": "={{ $json.critical_count ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2976,
        -1104
      ],
      "id": "efe171ae-eb4c-4541-8164-e641448699fc",
      "name": "IF | Has CRITICAL Risk?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "076cc928-a6f7-44fd-bb7b-70e9090053e9",
              "leftValue": "={{ $json.high_count ?? 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2688,
        -1072
      ],
      "id": "33b4698f-b6c3-4fd6-965e-49e12655ea9d",
      "name": "IF | Has High/Critical Risk?"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "toId",
              "value": "=U32d5a8d54e796b034480619610895f9a"
            },
            {
              "name": "text",
              "value": "={{$json.line_message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set (LINE Target - HIGH",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2432,
        -1184
      ],
      "id": "7a69a781-f53e-4292-a0f1-ee2407793b62",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "text": "={{ $json.line_message }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessageNode",
      "typeVersion": 1,
      "position": [
        -2224,
        -1184
      ],
      "id": "5143ed3f-8bfd-40d6-8094-eb3241d99b4e",
      "name": "LineMessageNode - HIGH"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "targetRecipient": "={{ $('Set (LINE Target - HIGH').item.json.toId }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessaging",
      "typeVersion": 1,
      "position": [
        -2000,
        -1184
      ],
      "id": "0eed9b44-d832-4883-88d3-09ec20186432",
      "name": "LineMessaging-SendMessage - HIGH",
      "credentials": {
        "lineMessagingAuthApi": {
          "id": "GtPfESBwvTeGRAPD",
          "name": "Line Messaging Auth account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "toId",
              "value": "=U32d5a8d54e796b034480619610895f9a"
            },
            {
              "name": "text",
              "value": "={{$json.line_message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set (LINE Target - Summary)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2448,
        -992
      ],
      "id": "a4651b14-f44a-49f7-a47f-4c3955aa515a",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "text": "={{ $json.line_message }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessageNode",
      "typeVersion": 1,
      "position": [
        -2224,
        -992
      ],
      "id": "741907e7-946b-44dc-922a-40d5343d99f3",
      "name": "LineMessageNode - Summary"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "targetRecipient": "={{ $('Set (LINE Target - Summary)').item.json.toId }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessaging",
      "typeVersion": 1,
      "position": [
        -1984,
        -992
      ],
      "id": "30ae168c-8898-4199-afbb-eed9616ee00a",
      "name": "LineMessaging-SendMessage - Summary",
      "credentials": {
        "lineMessagingAuthApi": {
          "id": "GtPfESBwvTeGRAPD",
          "name": "Line Messaging Auth account-Cybersecurity-va001"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GS | Read Risk Findings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Gotenberg": {
      "main": [
        [
          {
            "node": "Code | Rename PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Rename PDF": {
      "main": [
        [
          {
            "node": "Google Drive (Upload)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive – Share (Permission)": {
      "main": [
        [
          {
            "node": "Code | Build Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive (Upload)": {
      "main": [
        [
          {
            "node": "Google Drive – Share (Permission)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build Drive Link": {
      "main": [
        [
          {
            "node": "Code | Build Email Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File(s) from Disk-logo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read File(s) from Disk-signature": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CODE | Prepare Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Read Risk Findings": {
      "main": [
        [
          {
            "node": "CODE | Filter Latest Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build LINE Message": {
      "main": [
        [
          {
            "node": "IF | Has CRITICAL Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GS | Read Risk Findings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build Email Metadata": {
      "main": [
        [
          {
            "node": "Email (Gmail/SMTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge | Email Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (LINE Target - Alert)": {
      "main": [
        [
          {
            "node": "LineMessageNode - Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LineMessageNode - Alert": {
      "main": [
        [
          {
            "node": "LineMessaging-SendMessage - Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email (Gmail/SMTP)": {
      "main": [
        [
          {
            "node": "Merge | Email Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code | Build Report Log": {
      "main": [
        [
          {
            "node": "GS | Append Report Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Build LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge | Email Result": {
      "main": [
        [
          {
            "node": "Code | Build Report Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Filter Latest Scan": {
      "main": [
        [
          {
            "node": "CODE | Build Security Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Build Security Metrics": {
      "main": [
        [
          {
            "node": "CODE | Calculate Security Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Calculate Security Score": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Prepare Report Data": {
      "main": [
        [
          {
            "node": "CODE | Build Report Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Build HTML Template": {
      "main": [
        [
          {
            "node": "CODE | Output HTML Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Output HTML Binary": {
      "main": [
        [
          {
            "node": "HTTP Request | Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Build Report Sections": {
      "main": [
        [
          {
            "node": "CODE | Build HTML Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Has CRITICAL Risk?": {
      "main": [
        [
          {
            "node": "Set (LINE Target - Alert)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF | Has High/Critical Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Has High/Critical Risk?": {
      "main": [
        [
          {
            "node": "Set (LINE Target - HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set (LINE Target - Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (LINE Target - HIGH": {
      "main": [
        [
          {
            "node": "LineMessageNode - HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LineMessageNode - HIGH": {
      "main": [
        [
          {
            "node": "LineMessaging-SendMessage - HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (LINE Target - Summary)": {
      "main": [
        [
          {
            "node": "LineMessageNode - Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LineMessageNode - Summary": {
      "main": [
        [
          {
            "node": "LineMessaging-SendMessage - Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0262dbd1-edba-4b0a-8bcc-4e6dcfe8085a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e8bd4e6dcfe2d257f6d9648f4efaf76882daef04e1402d554d9aae9132bba97"
  },
  "id": "e8mb1d0OMZkgKy6O",
  "tags": []
}