workflows/Level4-Report_Notification.json
{
  "name": "Level4-Report_Notification",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4384,
        -1904
      ],
      "id": "817f2a23-38fd-4915-8980-1c5a2bb5ee69",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3136,
        -1984
      ],
      "id": "d28b2658-5fb0-438b-bc04-318de13a946c",
      "name": "HTTP Request | Gotenberg"
    },
    {
      "parameters": {
        "jsCode": "// Rename PDF using report_name from previous node if available\n\nfor (const item of items) {\n  const base = item.json?.report_name || \"SmartInfra_VA_Report_L1\";\n  const filename = `${base}.pdf`;\n\n  const bin = item.binary || {};\n  const key = bin.pdf ? \"pdf\" : (bin.data ? \"data\" : Object.keys(bin)[0]);\n\n  if (!key || !bin[key]) {\n    item.json = { ...(item.json || {}), error: \"No binary file found to rename\" };\n    continue;\n  }\n\n  bin[key].fileName = filename;\n  bin[key].mimeType = \"application/pdf\";\n  bin[key].fileExtension = \"pdf\";\n\n  item.binary = bin;\n  item.json = { ...(item.json || {}), pdf_filename: filename, pdf_binary_key: key };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        -1984
      ],
      "id": "31b2761c-cff4-4c8b-b351-9a478f2963d8",
      "name": "Code | Rename PDF"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2832,
        -1728
      ],
      "id": "fc898861-9e00-4a4e-8dc3-7c8becd14392",
      "name": "Google Drive – Share (Permission)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fQqKzEf97JLgzUaS",
          "name": "Google Drive account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "pdf",
        "name": "={{$json.pdf_filename}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ytZsg8x2p4-t03M5ajphJPXjNAkFGP86",
          "mode": "list",
          "cachedResultName": "L3-Report",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ytZsg8x2p4-t03M5ajphJPXjNAkFGP86"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3024,
        -1728
      ],
      "id": "4ef99474-3345-433a-9bcf-06f98ceb23c2",
      "name": "Google Drive (Upload)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fQqKzEf97JLgzUaS",
          "name": "Google Drive account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const uploadJson = $node[\"Google Drive (Upload)\"].json;\n  const fileId = uploadJson?.id;\n\n  const driveLink = fileId\n    ? `https://drive.google.com/file/d/${fileId}/view?usp=sharing`\n    : '';\n\n  return {\n    json: {\n      ...item.json,\n      drive_file_id: fileId,\n      drive_link: driveLink,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        -1728
      ],
      "id": "3376acde-7d2e-480e-82ae-4e05c6c018cb",
      "name": "Code | Build Drive Link"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/assets/logo.png",
        "options": {
          "dataPropertyName": "logo"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -3952,
        -1776
      ],
      "id": "4586d924-33a6-4ee0-9d53-f499e9ee9c7a",
      "name": "Read File(s) from Disk-logo",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/assets/signature.png",
        "options": {
          "dataPropertyName": "signature"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -3952,
        -1600
      ],
      "id": "a33039cb-dc2f-4613-92c0-987fbd45c5f5",
      "name": "Read File(s) from Disk-signature",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3568,
        -1792
      ],
      "id": "a25aacd0-c552-4937-a8f2-baa7b5418ff1",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fromEmail": "bugkuska@gmail.com",
        "toEmail": "sompoch.t@msu.ac.th",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2272,
        -1744
      ],
      "id": "cae7b31d-27c2-451a-99ad-fbc9efaed092",
      "name": "Email (Gmail/SMTP)",
      "webhookId": "79aad043-c5ea-4760-900d-404fc5d90967",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "p6Qz94cSHyyWD6mr",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA",
          "mode": "list",
          "cachedResultName": "sec_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1259440840,
          "mode": "list",
          "cachedResultName": "L3_risk_findings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit#gid=1259440840"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3952,
        -1920
      ],
      "id": "8a4570e1-2e7e-4440-8989-1f0eb358bf5b",
      "name": "GS | Read Risk Findings",
      "credentials": {
        "googleApi": {
          "id": "cC6tqbqF8VT7WPZa",
          "name": "Google Sheets account-SmartInfra"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code: Build LINE Message (Premium)\n// Input: current item + report summary from \"Code | Build HTML Report\"\n\nconst current = items[0]?.json || {};\n\nlet report = {};\ntry {\n  report = $('Code | Build HTML Report').all()[0]?.json || {};\n} catch (e) {\n  report = {};\n}\n\nconst driveLink =\n  current.drive_link ||\n  current.webViewLink ||\n  (current.id ? `https://drive.google.com/file/d/${current.id}/view?usp=sharing` : \"\") ||\n  report.drive_link ||\n  report.webViewLink ||\n  \"\";\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction getThaiTime() {\n  if (report.scan_time_th) return report.scan_time_th;\n\n  const now = new Date();\n  const th = new Date(now.toLocaleString(\"en-US\", { timeZone: \"Asia/Bangkok\" }));\n  const dd = pad2(th.getDate());\n  const mm = pad2(th.getMonth() + 1);\n  const yyyy = th.getFullYear() + 543;\n  const hh = pad2(th.getHours());\n  const mi = pad2(th.getMinutes());\n  const ss = pad2(th.getSeconds());\n\n  return `${dd}/${mm}/${yyyy} ${hh}:${mi}:${ss}`;\n}\n\nfunction toNumber(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nconst critical = toNumber(report.critical_count || report.risk_distribution?.CRITICAL || 0);\nconst high = toNumber(report.high_count || report.risk_distribution?.HIGH || 0);\nconst medium = toNumber(report.medium_count || report.risk_distribution?.MEDIUM || 0);\nconst low = toNumber(report.low_count || report.risk_distribution?.LOW || 0);\n\nconst totalHosts = toNumber(report.total_hosts || 0);\nconst totalFindings = toNumber(report.total_findings || 0);\nconst avgRiskScore = toNumber(report.avg_risk_score || 0);\nconst avgSecurityScore = toNumber(report.avg_security_score || 0);\nconst securityGrade = report.security_grade || \"-\";\nconst kevCount = toNumber(report.kev_count || 0);\nconst cveCount = toNumber(report.cve_count || 0);\n\nlet alertLabel = \"NORMAL\";\nlet alertIcon = \"🟢\";\nlet statusText = \"System Normal\";\n\nif (critical > 0) {\n  alertLabel = \"CRITICAL\";\n  alertIcon = \"🚨\";\n  statusText = \"Immediate Action Required\";\n} else if (high > 0) {\n  alertLabel = \"HIGH\";\n  alertIcon = \"⚠️\";\n  statusText = \"Attention Required\";\n} else if (medium > 0) {\n  alertLabel = \"MEDIUM\";\n  alertIcon = \"🟡\";\n  statusText = \"Review Recommended\";\n}\n\n// Premium LINE message\nlet msg = \"\";\nmsg += `${alertIcon} SmartInfra Security Report\\n`;\nmsg += `🕒 ${getThaiTime()}\\n\\n`;\n\nmsg += `📌 Alert: ${alertLabel}\\n`;\nmsg += `📍 Status: ${statusText}\\n`;\nmsg += `🖥 Hosts: ${totalHosts} | Findings: ${totalFindings}\\n`;\nmsg += `📈 Risk Score: ${avgRiskScore.toFixed(1)}\\n`;\nmsg += `🔐 Security Score: ${avgSecurityScore.toFixed(1)}\\n`;\nmsg += `🏷 Grade: ${securityGrade}\\n\\n`;\n\nmsg += `📊 Risk Distribution\\n`;\nmsg += `🟥 C: ${critical}   🟧 H: ${high}\\n`;\nmsg += `🟨 M: ${medium}   🟩 L: ${low}\\n`;\nmsg += `🦠 CVE: ${cveCount}   🔥 KEV: ${kevCount}\\n`;\n\nif ((critical + high) > 0) {\n  msg += `\\n🚨 High/Critical Total: ${critical + high}\\n`;\n}\n\nif (driveLink) {\n  msg += `\\n📄 PDF Report\\n${driveLink}`;\n}\n\nreturn [{\n  json: {\n    ...current,\n    ...report,\n    drive_link: driveLink,\n    alert_level_label: alertLabel,\n    line_message: msg\n  },\n  binary: items[0]?.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        -1456
      ],
      "id": "0c435c49-e8a4-4385-8d95-afc98e71a5f3",
      "name": "Code: Build LINE Message"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4384,
        -1616
      ],
      "id": "f07e7589-79a2-4f11-a685-5a82f5cca5cc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 📄  Level 4 — Report & Notification",
        "height": 928,
        "width": 2576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4432,
        -2048
      ],
      "typeVersion": 1,
      "id": "1dcd7c7d-c5fc-4f29-ac7f-9e5a6b2bec3c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const current = $json || {};\n\n// เปลี่ยนชื่อ node ตรงนี้ให้ตรงกับของจริงใน flow\n// ถ้าชื่อ node ของคุณคือ \"Code | Build HTML Report\" ให้ใช้ตามนี้\nlet report = {};\n\ntry {\n  report = $('Code | Build HTML Report').all()[0]?.json || {};\n} catch (e) {\n  report = {};\n}\n\nconst critical = Number(report.critical_count || report.risk_distribution?.CRITICAL || 0);\nconst high = Number(report.high_count || report.risk_distribution?.HIGH || 0);\nconst medium = Number(report.medium_count || report.risk_distribution?.MEDIUM || 0);\nconst low = Number(report.low_count || report.risk_distribution?.LOW || 0);\n\nconst total_hosts = Number(report.total_hosts || 0);\nconst total_findings = Number(report.total_findings || 0);\nconst scan_time_th = report.scan_time_th || \"\";\nconst report_name = report.report_name || \"\";\nconst avg_risk_score = Number(report.avg_risk_score || 0);\nconst avg_security_score = Number(report.avg_security_score || 0);\nconst security_grade = report.security_grade || \"-\";\nconst kev_count = Number(report.kev_count || 0);\nconst cve_count = Number(report.cve_count || 0);\nconst overall_threat =\n  String(report.overall_threat || \"\").toUpperCase() ||\n  (critical > 0 ? \"CRITICAL\" :\n   high > 0 ? \"HIGH\" :\n   medium > 0 ? \"MEDIUM\" :\n   low > 0 ? \"LOW\" : \"NORMAL\");\n\n// สร้าง run_id แบบ YYYYMMDD-HHMMSS\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = pad2(now.getMonth() + 1);\nconst dd = pad2(now.getDate());\nconst hh = pad2(now.getHours());\nconst mi = pad2(now.getMinutes());\nconst ss = pad2(now.getSeconds());\n\nconst run_id = `RUN-${yyyy}${mm}${dd}-${hh}${mi}${ss}`;\n\n// Executive security status\nlet security_status = \"NORMAL\";\nif (critical > 0) security_status = \"EMERGENCY\";\nelse if (high > 0) security_status = \"ATTENTION\";\nelse if (medium > 0) security_status = \"REVIEW\";\n\n// Email decision\nlet email_subject = \"\";\nlet alert_level_label = \"\";\nlet email_intro = \"\";\nlet email_priority = \"normal\";\n\nif (critical > 0) {\n  email_subject = `🚨 [CRITICAL] SmartInfra Security Alert | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"CRITICAL\";\n  email_intro = \"พบความเสี่ยงระดับวิกฤตในผลการสแกนล่าสุด ควรตรวจสอบและดำเนินการโดยเร่งด่วน\";\n  email_priority = \"high\";\n} else if (high > 0) {\n  email_subject = `⚠️ [HIGH] SmartInfra Risk Report | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"HIGH\";\n  email_intro = \"พบความเสี่ยงระดับสูงในผลการสแกนล่าสุด ควรวางแผนตรวจสอบและแก้ไขโดยเร็ว\";\n  email_priority = \"high\";\n} else if (medium > 0) {\n  email_subject = `🟡 [MEDIUM] SmartInfra Security Summary | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"MEDIUM\";\n  email_intro = \"พบความเสี่ยงระดับปานกลางในผลการสแกนล่าสุด ควรตรวจสอบและวางแผนปรับปรุง\";\n  email_priority = \"normal\";\n} else {\n  email_subject = `🛡 [NORMAL] SmartInfra Daily Security Summary | ${scan_time_th || \"-\"}`;\n  alert_level_label = \"NORMAL\";\n  email_intro = \"ไม่พบความเสี่ยงระดับสูงหรือวิกฤตในรอบการสแกนนี้ ระบบอยู่ในสถานะปกติ\";\n  email_priority = \"normal\";\n}\n\n// PDF link / drive link\nconst drive_link =\n  current.drive_link ||\n  current.webViewLink ||\n  report.drive_link ||\n  report.webViewLink ||\n  \"\";\n\n// HTML email\nconst email_html = `\n<div style=\"font-family:Arial,Helvetica,sans-serif;color:#1f2937;line-height:1.6;max-width:820px;\">\n  <h2 style=\"margin:0 0 12px 0;color:#123B64;\">SmartInfra Security Scan Report</h2>\n\n  <table style=\"border-collapse:collapse;width:100%;max-width:620px;font-size:14px;\">\n    <tr><td style=\"padding:4px 0;width:180px;\"><b>Run ID:</b></td><td style=\"padding:4px 0;\">${run_id}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Security Status:</b></td><td style=\"padding:4px 0;\">${security_status}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Alert Level:</b></td><td style=\"padding:4px 0;\">${alert_level_label}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Scan Time:</b></td><td style=\"padding:4px 0;\">${scan_time_th || \"-\"}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Total Hosts:</b></td><td style=\"padding:4px 0;\">${total_hosts}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Total Findings:</b></td><td style=\"padding:4px 0;\">${total_findings}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Average Risk Score:</b></td><td style=\"padding:4px 0;\">${avg_risk_score.toFixed(1)}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Average Security Score:</b></td><td style=\"padding:4px 0;\">${avg_security_score.toFixed(1)}</td></tr>\n    <tr><td style=\"padding:4px 0;\"><b>Security Grade:</b></td><td style=\"padding:4px 0;\">${security_grade}</td></tr>\n  </table>\n\n  <p style=\"margin:16px 0 10px 0;\">${email_intro}</p>\n\n  <div style=\"margin:14px 0;padding:14px 16px;background:#f8fafc;border:1px solid #dbe4ee;border-radius:10px;max-width:620px;\">\n    <div style=\"font-weight:bold;color:#123B64;margin-bottom:8px;\">Risk Distribution</div>\n    <ul style=\"margin:0;padding-left:20px;\">\n      <li><b>CRITICAL:</b> ${critical}</li>\n      <li><b>HIGH:</b> ${high}</li>\n      <li><b>MEDIUM:</b> ${medium}</li>\n      <li><b>LOW:</b> ${low}</li>\n      <li><b>CVE Detected:</b> ${cve_count}</li>\n      <li><b>KEV Detected:</b> ${kev_count}</li>\n    </ul>\n  </div>\n\n  ${\n    drive_link\n      ? `<p style=\"margin:14px 0 0 0;\"><b>Download Report (PDF):</b></p>\n         <p style=\"margin:4px 0 16px 0;\">\n           <a href=\"${drive_link}\" target=\"_blank\" style=\"color:#1d4ed8;text-decoration:underline;\">\n             Open Vulnerability Assessment Report\n           </a>\n         </p>`\n      : ``\n  }\n\n  <hr style=\"border:none;border-top:1px solid #d1d5db;margin:18px 0;\" />\n\n  <p style=\"font-size:12px;color:#6b7280;margin:0 0 8px 0;\">\n    This is an automated security report generated by SmartInfra Security Suite.\n    Please review the full PDF report for full findings and remediation recommendations.\n  </p>\n\n  <p style=\"font-size:12px;color:#6b7280;margin:0;\">\n    ---<br/>\n    This email was sent automatically with <b>n8n</b>\n  </p>\n</div>\n`;\n\n// Plain text\nconst email_text = `\nSmartInfra Security Scan Report\n\nRun ID: ${run_id}\nSecurity Status: ${security_status}\nAlert Level: ${alert_level_label}\nScan Time: ${scan_time_th || \"-\"}\nTotal Hosts: ${total_hosts}\nTotal Findings: ${total_findings}\nAverage Risk Score: ${avg_risk_score.toFixed(1)}\nAverage Security Score: ${avg_security_score.toFixed(1)}\nSecurity Grade: ${security_grade}\n\nRisk Distribution\n- CRITICAL: ${critical}\n- HIGH: ${high}\n- MEDIUM: ${medium}\n- LOW: ${low}\n- CVE Detected: ${cve_count}\n- KEV Detected: ${kev_count}\n\n${drive_link ? `Download Report (PDF): ${drive_link}` : \"\"}\n\nThis is an automated security report generated by SmartInfra Security Suite.\n`;\n\nreturn {\n  json: {\n    ...current,\n    ...report,\n\n    run_id,\n    report_name,\n    scan_time_th,\n    total_hosts,\n    total_findings,\n    avg_risk_score,\n    avg_security_score,\n    security_grade,\n    overall_threat,\n\n    critical_count: critical,\n    high_count: high,\n    medium_count: medium,\n    low_count: low,\n    cve_count,\n    kev_count,\n\n    security_status,\n    alert_level_label,\n    email_subject,\n    email_intro,\n    email_priority,\n    email_html,\n    email_text,\n    drive_link\n  },\n  binary: $binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        -1968
      ],
      "id": "36231ff1-fba7-44ee-97b9-ec494df63efe",
      "name": "Code | Build Email Metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cc044ab-e196-44e5-adac-08cff875108a",
              "leftValue": "={{ Number($json.critical_count || 0) + Number($json.high_count || 0) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2992,
        -1456
      ],
      "id": "9960a75b-7fd7-489d-b8d7-abbd0d89a745",
      "name": "IF | Has High/Critical Risk?"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "toId",
              "value": "=U32d5a8d54e796b034480619610895f9a"
            },
            {
              "name": "text",
              "value": "={{$json.line_message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set (LINE Target - Alert)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2752,
        -1520
      ],
      "id": "7b605b5c-537a-4487-b8f2-e621c87d4dcc",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "text": "={{ $json.line_message }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessageNode",
      "typeVersion": 1,
      "position": [
        -2560,
        -1520
      ],
      "id": "12abb117-0c0d-4b09-90e1-fc11e14d6d57",
      "name": "LineMessageNode - Alert"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "targetRecipient": "={{ $('Set (LINE Target - Alert)').item.json.toId }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessaging",
      "typeVersion": 1,
      "position": [
        -2352,
        -1520
      ],
      "id": "e1d56cbd-87d6-4e2b-b48a-1928160cc8f3",
      "name": "LineMessaging-SendMessage - Alert",
      "credentials": {
        "lineMessagingAuthApi": {
          "id": "GtPfESBwvTeGRAPD",
          "name": "Line Messaging Auth account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "toId",
              "value": "=U32d5a8d54e796b034480619610895f9a"
            },
            {
              "name": "text",
              "value": "={{$json.line_message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set (LINE Target - Summary)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2752,
        -1296
      ],
      "id": "1a2c5e90-ffa0-4d54-b255-020622125fba",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "text": "={{ $json.line_message }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessageNode",
      "typeVersion": 1,
      "position": [
        -2560,
        -1296
      ],
      "id": "c7df8da0-329a-4eed-b14d-32eecf2d218c",
      "name": "LineMessageNode - Summary"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "targetRecipient": "={{ $('Set (LINE Target - Summary)').item.json.toId }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessaging",
      "typeVersion": 1,
      "position": [
        -2352,
        -1296
      ],
      "id": "5fcaf68f-3151-41c6-a4f0-7345f936e89a",
      "name": "LineMessaging-SendMessage - Summary",
      "credentials": {
        "lineMessagingAuthApi": {
          "id": "GtPfESBwvTeGRAPD",
          "name": "Line Messaging Auth account-Cybersecurity-va001"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\n// ------------------\n// Extract values\n// ------------------\nconst critical = Number(d.critical_count || 0);\nconst high = Number(d.high_count || 0);\nconst medium = Number(d.medium_count || 0);\nconst low = Number(d.low_count || 0);\n\nconst avgRisk = Number(d.avg_risk_score || 0);\n\n// ------------------\n// Security Score\n// ------------------\nlet security_score = 100 - avgRisk;\nif (security_score < 0) security_score = 0;\nsecurity_score = Number(security_score.toFixed(1));\n\n// ------------------\n// Security Status\n// ------------------\nlet security_status = \"NORMAL\";\n\nif (critical > 0) {\n  security_status = \"EMERGENCY\";\n}\nelse if (high > 0) {\n  security_status = \"ATTENTION\";\n}\nelse if (medium > 0) {\n  security_status = \"REVIEW\";\n}\n\n// ------------------\n// Security Grade\n// ------------------\nlet security_grade = \"F\";\n\nif (security_score >= 90) security_grade = \"A\";\nelse if (security_score >= 80) security_grade = \"B\";\nelse if (security_score >= 70) security_grade = \"C\";\nelse if (security_score >= 60) security_grade = \"D\";\n\n// ------------------\n// Threat Level\n// ------------------\nlet threat_level = \"LOW\";\n\nif (critical > 0) threat_level = \"SEVERE\";\nelse if (high > 0) threat_level = \"HIGH\";\nelse if (medium > 0) threat_level = \"MODERATE\";\n\n// ------------------\n// Risk Index\n// ------------------\nconst risk_index =\n  (critical * 10) +\n  (high * 5) +\n  (medium * 2) +\n  (low * 1);\n\n// ------------------\n// Output\n// ------------------\nreturn {\njson: {\n\nrun_id: d.run_id,\n\nreport_name: d.report_name,\n\nscan_time_th: d.scan_time_th,\n\ntotal_hosts: d.total_hosts,\ntotal_findings: d.total_findings,\n\ncritical_count: critical,\nhigh_count: high,\nmedium_count: medium,\nlow_count: low,\n\nsecurity_status: security_status,\nsecurity_score: security_score,\n\nsecurity_grade: security_grade,\nthreat_level: threat_level,\nrisk_index: risk_index,\n\npdf_link: d.drive_link,\n\nline_channel: \"ALERT\",\nline_status: \"SENT\",\nemail_status: \"SENT\",\n\ncreated_at: new Date().toISOString()\n\n}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -1664
      ],
      "id": "e3a1a7bb-7de9-433e-b8b8-e8594a6ce0eb",
      "name": "Code | Build Report Log"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA",
          "mode": "list",
          "cachedResultName": "sec_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1138888067,
          "mode": "list",
          "cachedResultName": "L4_report_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16DuvGFaLpvv6unYY-W8rNFnrqGpIS7QLtClZ4UdKXlA/edit#gid=1138888067"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "report_name": "={{$json.report_name}}",
            "scan_time_th": "={{$json.scan_time_th}}",
            "total_hosts": "={{$json.total_hosts}}",
            "total_findings": "={{$json.total_findings}}",
            "critical_count": "={{$json.critical_count}}",
            "high_count": "={{$json.high_count}}",
            "medium_count": "={{$json.medium_count}}",
            "low_count": "={{$json.low_count}}",
            "pdf_link": "={{$json.pdf_link}}",
            "line_channel": "={{$json.line_channel}}",
            "line_status": "={{$json.line_status}}",
            "email_status": "={{$json.email_status}}",
            "created_at": "={{$json.created_at}}",
            "security_status": "={{$json.security_status}}",
            "security_score": "={{$json.security_score}}",
            " security_grade": "={{$json.security_grade}}",
            "threat_level": "={{$json.threat_level}}",
            "risk_index": "={{$json.risk_index}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_name",
              "displayName": "report_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scan_time_th",
              "displayName": "scan_time_th",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_hosts",
              "displayName": "total_hosts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_findings",
              "displayName": "total_findings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "critical_count",
              "displayName": "critical_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "high_count",
              "displayName": "high_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medium_count",
              "displayName": "medium_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "low_count",
              "displayName": "low_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pdf_link",
              "displayName": "pdf_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_channel",
              "displayName": "line_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_status",
              "displayName": "line_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security_status",
              "displayName": "security_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "security_score",
              "displayName": "security_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " security_grade",
              "displayName": " security_grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threat_level",
              "displayName": "threat_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "risk_index",
              "displayName": "risk_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1984,
        -1456
      ],
      "id": "ef99f16c-f226-4ca0-95c3-bb3c8f4c73f5",
      "name": "GS | Append Report Log",
      "credentials": {
        "googleApi": {
          "id": "cC6tqbqF8VT7WPZa",
          "name": "Google Sheets account-SmartInfra"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2096,
        -1952
      ],
      "id": "0850399e-6083-4378-b373-ad67c797d66a",
      "name": "Merge | Email Result"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Filter Latest Scan\n// Mode: Run Once for All Items\n\nfunction minuteKey(v) {\n  const s = String(v || '').trim();\n  // เอาถึงระดับนาที เช่น 2026-03-11T21:55\n  return s ? s.slice(0, 16) : '';\n}\n\n// หา minute ล่าสุด\nlet latestMinute = '';\n\nfor (const item of items) {\n  const key = minuteKey(item.json.detected_at);\n  if (key && key > latestMinute) {\n    latestMinute = key;\n  }\n}\n\n// คืนทุก item ที่อยู่ใน minute เดียวกัน\nreturn items.filter(item => minuteKey(item.json.detected_at) === latestMinute);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3728,
        -1952
      ],
      "id": "409405f2-6810-4386-bce2-ba5ed7b824da",
      "name": "CODE | Filter Latest Scan"
    },
    {
      "parameters": {
        "jsCode": "// Code: Build HTML Report L4 (Professional Plus v2 / Executive Summary First / CVE+KEV Aware / Binary-safe / Run Once for All Items)\n// For: Level 4 - Report & Notify\n// Input: aggregated findings from Level 3\n// Output: binary.html (index.html) for Gotenberg\n\n// ---------------- helpers ----------------\nfunction pad2(n) { return String(n).padStart(2, \"0\"); }\n\nfunction esc(s) {\n  return String(s ?? \"\")\n    .replaceAll(\"&\", \"&amp;\")\n    .replaceAll(\"<\", \"&lt;\")\n    .replaceAll(\">\", \"&gt;\")\n    .replaceAll('\"', \"&quot;\")\n    .replaceAll(\"'\", \"&#39;\");\n}\n\nfunction safeArr(v) { return Array.isArray(v) ? v : []; }\n\nfunction toNumber(v, def = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n}\n\nfunction upper(s) {\n  return String(s ?? \"\").toUpperCase();\n}\n\nfunction uniq(arr) {\n  return [...new Set(safeArr(arr).filter(Boolean))];\n}\n\nfunction shortText(s, max = 120) {\n  const t = String(s ?? \"\");\n  return t.length > max ? `${t.slice(0, max)}...` : t;\n}\n\nfunction displayLevel(r) {\n  return upper(r.threat_level || r.rule_risk || r.risk_level || \"UNKNOWN\");\n}\n\nfunction severityRank(level) {\n  const L = upper(level);\n  if (L === \"CRITICAL\" || L === \"SEVERE\") return 4;\n  if (L === \"HIGH\") return 3;\n  if (L === \"MEDIUM\" || L === \"MODERATE\") return 2;\n  if (L === \"LOW\") return 1;\n  return 0;\n}\n\nfunction riskColor(level) {\n  const L = upper(level);\n  if (L === \"CRITICAL\" || L === \"SEVERE\") return { bg: \"#FFE5E5\", bd: \"#FF5A5A\", fg: \"#7D0000\", soft: \"#FFF5F5\" };\n  if (L === \"HIGH\") return { bg: \"#FFF1E6\", bd: \"#FF8A3D\", fg: \"#7A2F00\", soft: \"#FFF8F2\" };\n  if (L === \"MEDIUM\" || L === \"MODERATE\") return { bg: \"#FFF7DB\", bd: \"#FFCC42\", fg: \"#6A4B00\", soft: \"#FFFDF4\" };\n  if (L === \"LOW\") return { bg: \"#E9FFF0\", bd: \"#4CC26A\", fg: \"#0B5A1A\", soft: \"#F5FFF8\" };\n  return { bg: \"#F2F4F7\", bd: \"#D0D5DD\", fg: \"#344054\", soft: \"#FAFBFC\" };\n}\n\nfunction riskBadge(level) {\n  const L = upper(level || \"UNKNOWN\");\n  const c = riskColor(L);\n  return `<span class=\"badge\" style=\"background:${c.bg};border-color:${c.bd};color:${c.fg}\">${esc(L)}</span>`;\n}\n\nfunction buildServiceLabel(r) {\n  const serviceName = String(r.service_name || \"\").trim();\n  const service = String(r.service || \"\").trim();\n  return serviceName || service || \"-\";\n}\n\nfunction buildCveLabel(r) {\n  const top = String(r.top_cve_id || \"\").trim();\n  if (top) return top;\n\n  const raw = String(r.cve_ids || \"\").trim();\n  if (!raw) return \"-\";\n\n  const first = raw.split(\",\").map(x => x.trim()).filter(Boolean)[0];\n  return first || \"-\";\n}\n\nfunction formatHostTopFinding(arr) {\n  const a = safeArr(arr);\n  if (!a.length) return \"-\";\n\n  const top = a\n    .slice()\n    .sort((x, y) => {\n      const sr = severityRank(displayLevel(y)) - severityRank(displayLevel(x));\n      if (sr !== 0) return sr;\n      return toNumber(y.security_score, toNumber(y.risk_score, 0)) - toNumber(x.security_score, toNumber(x.risk_score, 0));\n    })[0];\n\n  const svc = buildServiceLabel(top);\n  const port = top.port ?? \"-\";\n  const risk = displayLevel(top);\n  const cve = buildCveLabel(top);\n  return `${svc}:${port} (${risk}${cve !== \"-\" ? ` | ${cve}` : \"\"})`;\n}\n\nfunction avg(arr) {\n  const a = safeArr(arr).map(x => Number(x)).filter(x => Number.isFinite(x));\n  if (!a.length) return 0;\n  return a.reduce((s, n) => s + n, 0) / a.length;\n}\n\nfunction getOverallThreat(counts) {\n  if ((counts.CRITICAL || 0) > 0) return \"CRITICAL\";\n  if ((counts.HIGH || 0) > 0) return \"HIGH\";\n  if ((counts.MEDIUM || 0) > 0) return \"MEDIUM\";\n  if ((counts.LOW || 0) > 0) return \"LOW\";\n  return \"UNKNOWN\";\n}\n\nfunction buildSection(title, innerHtml, extraClass = \"\") {\n  return `\n    <section class=\"section-block ${extraClass}\">\n      <div class=\"section-title\">${title}</div>\n      ${innerHtml}\n    </section>\n  `;\n}\n\n// ---------- find binary source item safely ----------\nconst firstBinaryItem = items.find(i => i.binary && typeof i.binary === \"object\") || null;\nconst bin0 = firstBinaryItem?.binary || {};\n\n// ---------- Binary -> base64 ----------\nasync function binaryToBase64(prop, fallbackMime = \"image/png\") {\n  const binaryIndex = items.findIndex(i => i.binary && i.binary[prop]);\n  if (binaryIndex === -1) return { base64: \"\", mime: fallbackMime, via: \"none\" };\n\n  const b = items[binaryIndex].binary[prop];\n  const mime = b?.mimeType || fallbackMime;\n\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(binaryIndex, prop);\n    if (!buffer) return { base64: \"\", mime, via: \"no_buffer\" };\n    return { base64: buffer.toString(\"base64\"), mime, via: \"helper\" };\n  } catch (e) {\n    const direct = b?.data || \"\";\n    if (direct && typeof direct === \"string\" && direct.length > 1000) {\n      return { base64: direct, mime, via: \"direct\" };\n    }\n    return { base64: \"\", mime, via: \"error\" };\n  }\n}\n\n// -------------- Time (Thailand) --------------\nconst now = new Date(Date.now() + 7 * 60 * 60 * 1000);\nconst yyyy = now.getUTCFullYear();\nconst mm = pad2(now.getUTCMonth() + 1);\nconst dd = pad2(now.getUTCDate());\nconst hh = pad2(now.getUTCHours());\nconst mi = pad2(now.getUTCMinutes());\nconst ss = pad2(now.getUTCSeconds());\n\nconst scanTimeTH = `${dd}/${mm}/${yyyy + 543} ${hh}:${mi}:${ss}`;\nconst scannedAtISO = `${yyyy}-${mm}-${dd}T${hh}:${mi}:${ss}+07:00`;\nconst reportName = `SmartInfra_VA_L4_ProfessionalPlus_v2_${yyyy}-${mm}-${dd}_${hh}${mi}${ss}`;\n\n// -------------- Load logo/signature --------------\nconst logoRes = await binaryToBase64.call(this, \"logo\", \"image/png\");\nconst sigRes = await binaryToBase64.call(this, \"signature\", \"image/png\");\n\nconst logoDataUri = logoRes.base64 ? `data:${logoRes.mime};base64,${logoRes.base64}` : \"\";\nconst signDataUri = sigRes.base64 ? `data:${sigRes.mime};base64,${sigRes.base64}` : \"\";\n\n// -------------- Collect findings --------------\nconst findings = items\n  .map(i => i.json || {})\n  .filter(r =>\n    r &&\n    (\n      r.ip ||\n      r.finding_key ||\n      r.row_key ||\n      r.finding ||\n      r.rule_risk ||\n      r.risk_level ||\n      r.threat_level\n    )\n  );\n\n// -------------- Aggregate counts --------------\nconst totalFindings = findings.length;\nconst uniqueHosts = uniq(findings.map(r => String(r.ip || \"\").trim()).filter(Boolean));\nconst totalHosts = uniqueHosts.length;\n\nconst counts = { CRITICAL: 0, HIGH: 0, MEDIUM: 0, LOW: 0, UNKNOWN: 0 };\nlet totalRiskScore = 0;\nlet totalSecurityScore = 0;\nlet securityScoreCount = 0;\nlet kevCount = 0;\nlet cveDetectedCount = 0;\n\nfor (const r of findings) {\n  const lvl = displayLevel(r);\n  if (counts[lvl] !== undefined) counts[lvl] += 1;\n  else counts.UNKNOWN += 1;\n\n  totalRiskScore += toNumber(r.risk_score, 0);\n\n  const ssNum = toNumber(r.security_score, NaN);\n  if (Number.isFinite(ssNum)) {\n    totalSecurityScore += ssNum;\n    securityScoreCount += 1;\n  }\n\n  if (r.kev_exploited) kevCount += 1;\n  if (r.cve_found) cveDetectedCount += 1;\n}\n\nconst avgRiskScore = totalFindings ? (totalRiskScore / totalFindings) : 0;\nconst avgSecurityScore = securityScoreCount ? (totalSecurityScore / securityScoreCount) : 0;\n\n// -------------- Overall Security Grade --------------\nlet overallSecurityGrade = \"F\";\nif (avgSecurityScore >= 90) overallSecurityGrade = \"A\";\nelse if (avgSecurityScore >= 75) overallSecurityGrade = \"B\";\nelse if (avgSecurityScore >= 60) overallSecurityGrade = \"C\";\nelse if (avgSecurityScore >= 40) overallSecurityGrade = \"D\";\n\nconst overallThreat = getOverallThreat(counts);\nconst overallThreatColor = riskColor(overallThreat);\n\nlet postureText = \"System posture appears stable with low immediate exposure.\";\nif (overallThreat === \"CRITICAL\") postureText = \"Immediate action required. Critical-risk findings detected in the current attack surface.\";\nelse if (overallThreat === \"HIGH\") postureText = \"Elevated risk posture. High-risk exposures should be prioritized for remediation.\";\nelse if (overallThreat === \"MEDIUM\") postureText = \"Moderate exposure detected. Corrective controls and hardening are recommended.\";\nelse if (overallThreat === \"LOW\") postureText = \"Low-risk exposures detected. Maintain patching and service hardening discipline.\";\nelse postureText = \"No significant findings were detected in the current dataset.\";\n\n// -------------- Group by host --------------\nconst hostMap = new Map();\n\nfor (const r of findings) {\n  const ip = String(r.ip || \"-\").trim() || \"-\";\n\n  if (!hostMap.has(ip)) {\n    hostMap.set(ip, {\n      ip,\n      findings: [],\n      ports: new Set(),\n      max_risk_level: \"LOW\",\n      max_risk_score: 0,\n      max_security_score: 0,\n      critical_count: 0,\n      high_count: 0,\n      medium_count: 0,\n      low_count: 0,\n      kev_count: 0,\n      cve_count: 0\n    });\n  }\n\n  const h = hostMap.get(ip);\n  h.findings.push(r);\n\n  if (r.port !== undefined && r.port !== null && String(r.port) !== \"\") {\n    h.ports.add(String(r.port));\n  }\n\n  const lvl = displayLevel(r);\n  if (lvl === \"CRITICAL\") h.critical_count += 1;\n  else if (lvl === \"HIGH\") h.high_count += 1;\n  else if (lvl === \"MEDIUM\") h.medium_count += 1;\n  else if (lvl === \"LOW\") h.low_count += 1;\n\n  if (r.kev_exploited) h.kev_count += 1;\n  if (r.cve_found) h.cve_count += 1;\n\n  const rs = toNumber(r.risk_score, 0);\n  const ssNum = toNumber(r.security_score, 0);\n\n  if (\n    severityRank(lvl) > severityRank(h.max_risk_level) ||\n    (severityRank(lvl) === severityRank(h.max_risk_level) && ssNum > h.max_security_score)\n  ) {\n    h.max_risk_level = lvl;\n    h.max_risk_score = rs;\n    h.max_security_score = ssNum;\n  }\n}\n\nconst hosts = [...hostMap.values()];\n\n// -------------- Top 5 Hosts by Risk --------------\nconst top5Hosts = hosts\n  .map(h => ({\n    ...h,\n    ports_display: [...h.ports].sort((a, b) => Number(a) - Number(b)).join(\", \"),\n    finding_count: h.findings.length,\n    top_finding: formatHostTopFinding(h.findings),\n    avg_security_score: avg(h.findings.map(x => toNumber(x.security_score, 0)))\n  }))\n  .sort((a, b) => {\n    const sr = severityRank(b.max_risk_level) - severityRank(a.max_risk_level);\n    if (sr !== 0) return sr;\n    return b.max_security_score - a.max_security_score;\n  })\n  .slice(0, 5);\n\n// -------------- Top Findings --------------\nconst top10Findings = findings\n  .slice()\n  .sort((a, b) => {\n    const sr = severityRank(displayLevel(b)) - severityRank(displayLevel(a));\n    if (sr !== 0) return sr;\n    return toNumber(b.security_score, toNumber(b.risk_score, 0)) - toNumber(a.security_score, toNumber(a.risk_score, 0));\n  })\n  .slice(0, 10);\n\n// -------------- Top CVE / KEV Summary --------------\nconst topCveRows = findings\n  .filter(r => r.cve_found || r.kev_exploited)\n  .slice()\n  .sort((a, b) => {\n    if (Boolean(b.kev_exploited) !== Boolean(a.kev_exploited)) {\n      return Number(Boolean(b.kev_exploited)) - Number(Boolean(a.kev_exploited));\n    }\n    return toNumber(b.max_cvss_score, 0) - toNumber(a.max_cvss_score, 0);\n  })\n  .slice(0, 10)\n  .map(r => `\n    <tr>\n      <td class=\"cell-host\">${esc(r.ip || \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.port ?? \"-\")}</td>\n      <td class=\"cell-left\">${esc(buildServiceLabel(r))}</td>\n      <td class=\"cell-left small mono\">${esc(buildCveLabel(r))}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(r.max_cvss_score, 0).toFixed(1))}</td>\n      <td class=\"cell-center\">${r.kev_exploited ? `<span class=\"badge badge-critical\">KEV</span>` : \"-\"}</td>\n      <td class=\"cell-left small\">${esc(shortText(r.top_cve_description || r.finding || \"-\", 130))}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// -------------- Recommendations by host (Top 5) --------------\nlet remediationRows = \"\";\n\nfor (const h of top5Hosts) {\n  const recs = uniq(h.findings.map(x => String(x.recommendation || \"\").trim()).filter(Boolean));\n  const issues = h.findings\n    .slice()\n    .sort((a, b) => {\n      const sr = severityRank(displayLevel(b)) - severityRank(displayLevel(a));\n      if (sr !== 0) return sr;\n      return toNumber(b.security_score, toNumber(b.risk_score, 0)) - toNumber(a.security_score, toNumber(a.risk_score, 0));\n    })\n    .slice(0, 5)\n    .map(x => {\n      const svc = buildServiceLabel(x);\n      const cve = buildCveLabel(x);\n      return `<li><b>${esc(`${svc}:${x.port ?? \"-\"}`)}:</b> ${esc(x.finding || \"-\")}${cve !== \"-\" ? ` <span class=\"mono\">[${esc(cve)}]</span>` : \"\"}</li>`;\n    })\n    .join(\"\");\n\n  const acts = recs.length\n    ? recs.slice(0, 5).map(x => `<li>${esc(x)}</li>`).join(\"\")\n    : `<li>อัปเดตแพตช์, จำกัดการเข้าถึง, ตรวจสอบ hardening, logging และ access control ของบริการที่เปิดใช้งาน</li>`;\n\n  remediationRows += `\n    <tr>\n      <td class=\"cell-host\">${esc(h.ip)}</td>\n      <td class=\"cell-center\">${riskBadge(h.max_risk_level)}</td>\n      <td class=\"cell-center mono\">${esc(h.max_security_score.toFixed(1))}</td>\n      <td class=\"cell-left small\"><ul class=\"rec\">${issues || \"<li>-</li>\"}</ul></td>\n      <td class=\"cell-left small\"><ul class=\"rec\">${acts}</ul></td>\n    </tr>\n  `;\n}\n\n// -------------- Top findings rows --------------\nconst topFindingsRows = top10Findings\n  .map(r => `\n    <tr>\n      <td class=\"cell-host\">${esc(r.ip || \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.port ?? \"-\")}</td>\n      <td class=\"cell-left\">${esc(buildServiceLabel(r))}</td>\n      <td class=\"cell-center\">${riskBadge(displayLevel(r))}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(r.security_score, toNumber(r.risk_score, 0)).toFixed(1))}</td>\n      <td class=\"cell-left small mono\">${esc(buildCveLabel(r))}</td>\n      <td class=\"cell-center\">${r.kev_exploited ? \"YES\" : \"-\"}</td>\n      <td class=\"cell-left small\">${esc(shortText(r.finding || \"-\", 110))}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// -------------- Top host rows --------------\nconst topHostRows = top5Hosts\n  .map(h => `\n    <tr>\n      <td class=\"cell-host\">${esc(h.ip)}</td>\n      <td class=\"cell-center\">${riskBadge(h.max_risk_level)}</td>\n      <td class=\"cell-center mono\">${esc(h.max_security_score.toFixed(1))}</td>\n      <td class=\"cell-center mono\">${esc(h.finding_count)}</td>\n      <td class=\"cell-center mono\">${esc(h.critical_count)}</td>\n      <td class=\"cell-center mono\">${esc(h.high_count)}</td>\n      <td class=\"cell-center mono\">${esc(h.medium_count)}</td>\n      <td class=\"cell-center mono\">${esc(h.kev_count)}</td>\n      <td class=\"cell-left small\">${esc(h.ports_display || \"-\")}</td>\n      <td class=\"cell-left small\">${esc(h.top_finding)}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// -------------- Executive blocks --------------\nconst executiveTop3Findings = top10Findings\n  .slice(0, 3)\n  .map(r => `\n    <li>\n      <b>${esc(r.ip || \"-\")} : ${esc(buildServiceLabel(r))}:${esc(r.port ?? \"-\")}</b>\n      — ${esc(displayLevel(r))}\n      — ${esc(shortText(r.finding || \"-\", 100))}\n      ${buildCveLabel(r) !== \"-\" ? ` <span class=\"mono\">[${esc(buildCveLabel(r))}]</span>` : \"\"}\n    </li>\n  `)\n  .join(\"\");\n\nconst executiveTop3Hosts = top5Hosts\n  .slice(0, 3)\n  .map(h => `\n    <li>\n      <b>${esc(h.ip)}</b>\n      — ${esc(h.max_risk_level)}\n      — Findings: ${esc(h.finding_count)}\n      — KEV: ${esc(h.kev_count)}\n      — Ports: ${esc(h.ports_display || \"-\")}\n    </li>\n  `)\n  .join(\"\");\n\nconst riskBannerHtml = `\n  <div class=\"risk-banner\" style=\"background:${overallThreatColor.soft}; border-color:${overallThreatColor.bd};\">\n    <div class=\"risk-banner-left\">\n      <div class=\"risk-banner-label\">Overall Risk Posture</div>\n      <div class=\"risk-banner-value\" style=\"color:${overallThreatColor.fg}\">${esc(overallThreat)}</div>\n    </div>\n    <div class=\"risk-banner-right\">\n      <div class=\"risk-banner-text\">${esc(postureText)}</div>\n    </div>\n  </div>\n`;\n\n// -------------- Appendix rows (reduced columns) --------------\nconst appendixRows = findings\n  .slice()\n  .sort((a, b) => {\n    const sr = severityRank(displayLevel(b)) - severityRank(displayLevel(a));\n    if (sr !== 0) return sr;\n    return toNumber(b.security_score, toNumber(b.risk_score, 0)) - toNumber(a.security_score, toNumber(a.risk_score, 0));\n  })\n  .map(r => `\n    <tr>\n      <td class=\"cell-host\">${esc(r.ip || \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.port ?? \"-\")}</td>\n      <td class=\"cell-center mono\">${esc(r.protocol || \"-\")}</td>\n      <td class=\"cell-left\">${esc(buildServiceLabel(r))}</td>\n      <td class=\"cell-center\">${riskBadge(displayLevel(r))}</td>\n      <td class=\"cell-center mono\">${esc(toNumber(r.security_score, toNumber(r.risk_score, 0)).toFixed(1))}</td>\n      <td class=\"cell-left small mono\">${esc(buildCveLabel(r))}</td>\n      <td class=\"cell-left small\">${esc(r.finding || \"-\")}</td>\n      <td class=\"cell-left small\">${esc(r.recommendation || \"-\")}</td>\n    </tr>\n  `)\n  .join(\"\");\n\n// -------------- HTML --------------\nconst html = `<!doctype html>\n<html lang=\"th\">\n<head>\n  <meta charset=\"utf-8\" />\n  <title>SmartInfra Security Suite | Threat Intelligence Report (Level 4)</title>\n  <style>\n    :root{\n      --ink:#101828;\n      --muted:#475467;\n      --line:#DDE3EA;\n      --line-soft:#EEF2F6;\n      --brand:#123B64;\n      --brand2:#1F4E79;\n      --brand3:#2F6EA5;\n      --brand4:#0E2E4F;\n      --card:#FFFFFF;\n      --bg-soft:#F8FAFC;\n      --shadow:0 8px 24px rgba(16,24,40,.08);\n      --radius:14px;\n    }\n\n    *{ box-sizing:border-box; }\n    html, body { margin:0; padding:0; }\n\n    body{\n      font-family: Arial, Helvetica, sans-serif;\n      color:var(--ink);\n      background:#fff;\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n\n    @page {\n      size: A4;\n      margin: 16mm 12mm 18mm 12mm;\n\n      @bottom-left {\n        content: \"SmartInfra | Confidential\";\n        font-size: 9px;\n        color: #98A2B3;\n      }\n\n      @bottom-right {\n        content: \"Page \" counter(page) \" / \" counter(pages);\n        font-size: 9px;\n        color: #98A2B3;\n      }\n    }\n\n    .wm{\n      position: fixed;\n      inset: 0;\n      display:flex;\n      align-items:center;\n      justify-content:center;\n      pointer-events:none;\n      z-index: 0;\n    }\n\n    .wm span{\n      font-size: 58px;\n      font-weight: 700;\n      color: rgba(44,62,80,0.04);\n      transform: rotate(-28deg);\n      letter-spacing: 10px;\n      text-transform: uppercase;\n      user-select:none;\n      line-height: 1.15;\n      text-align: center;\n    }\n\n    .page{\n      position: relative;\n      z-index: 1;\n    }\n\n    .page-break{\n      page-break-before: always;\n      break-before: page;\n    }\n\n    .top{\n      display:flex;\n      align-items:center;\n      justify-content:space-between;\n      gap:20px;\n      padding:16px 18px;\n      border:1px solid var(--line);\n      border-radius: var(--radius);\n      background: linear-gradient(135deg, #ffffff 0%, #f7fbff 55%, #ffffff 100%);\n      box-shadow: var(--shadow);\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .brand{\n      display:flex;\n      align-items:center;\n      gap:14px;\n      min-width: 340px;\n    }\n\n    .logo{\n      height:54px;\n      width:54px;\n      border-radius: 12px;\n      border:1px solid var(--line);\n      background:#fff;\n      object-fit: contain;\n      display:block;\n      padding:6px;\n      flex: 0 0 54px;\n    }\n\n    .brand h1{\n      font-size:20px;\n      margin:0;\n      letter-spacing:.2px;\n      color: var(--brand);\n    }\n\n    .brand .sub{\n      margin-top:3px;\n      font-size:12.5px;\n      color:var(--muted);\n    }\n\n    .meta{\n      text-align:right;\n      font-size:12px;\n      color:var(--muted);\n      line-height:1.5;\n      white-space:nowrap;\n    }\n\n    .pill{\n      display:inline-block;\n      padding:6px 10px;\n      border:1px solid var(--line);\n      border-radius:999px;\n      background:#fff;\n      font-weight:800;\n      color:var(--brand2);\n      margin-bottom:6px;\n    }\n\n    .risk-banner{\n      margin-top: 14px;\n      border:1px solid;\n      border-radius: 16px;\n      padding: 14px 16px;\n      display:grid;\n      grid-template-columns: 220px 1fr;\n      gap: 16px;\n      box-shadow: var(--shadow);\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .risk-banner-left{\n      border-right: 1px dashed rgba(0,0,0,.12);\n      padding-right: 14px;\n    }\n\n    .risk-banner-label{\n      font-size: 11px;\n      color: var(--muted);\n      text-transform: uppercase;\n      letter-spacing: .4px;\n      font-weight: 800;\n    }\n\n    .risk-banner-value{\n      margin-top: 4px;\n      font-size: 24px;\n      font-weight: 900;\n      letter-spacing: .4px;\n    }\n\n    .risk-banner-text{\n      font-size: 12.5px;\n      line-height: 1.65;\n      color: var(--ink);\n      padding-top: 3px;\n    }\n\n    .grid{\n      display:grid;\n      grid-template-columns: 1.2fr 1fr;\n      gap:14px;\n      margin-top:14px;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .card{\n      border:1px solid var(--line);\n      border-radius: var(--radius);\n      background: var(--card);\n      box-shadow: var(--shadow);\n      padding:14px 16px;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .card-title{\n      font-weight:900;\n      font-size:13px;\n      color:var(--brand2);\n      letter-spacing:.2px;\n      margin:0 0 8px 0;\n      display:flex;\n      align-items:center;\n      gap:8px;\n    }\n\n    .kpis{\n      display:grid;\n      grid-template-columns: repeat(3, 1fr);\n      gap:10px;\n      margin-top:8px;\n    }\n\n    .kpi{\n      border:1px solid var(--line-soft);\n      border-radius: 12px;\n      padding:10px 10px;\n      background:#fff;\n      min-height: 64px;\n    }\n\n    .kpi .n{\n      font-size:18px;\n      font-weight:900;\n      margin:0;\n      color: var(--brand);\n    }\n\n    .kpi .l{\n      font-size:11.5px;\n      color:var(--muted);\n      margin-top:2px;\n    }\n\n    .dist{\n      display:grid;\n      grid-template-columns: repeat(5, 1fr);\n      gap:8px;\n      margin-top:10px;\n    }\n\n    .dist .box{\n      border:1px solid var(--line-soft);\n      border-radius: 12px;\n      padding:10px 8px;\n      background:#fff;\n      text-align:center;\n      min-height: 60px;\n    }\n\n    .dist .box .n{\n      font-weight:900;\n      font-size:16px;\n      color: var(--brand);\n    }\n\n    .dist .box .l{\n      font-size:11px;\n      color:var(--muted);\n      margin-top:2px;\n    }\n\n    .highlight-list{\n      margin: 10px 0 0 0;\n      padding-left: 18px;\n      color: var(--ink);\n    }\n\n    .highlight-list li{\n      margin: 4px 0;\n      line-height: 1.5;\n      font-size: 12.2px;\n    }\n\n    .section-block{\n      margin-top:16px;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .appendix-start{\n      page-break-before: always;\n      break-before: page;\n      margin-top: 0;\n    }\n\n    .section-title{\n      margin: 0 0 8px 0;\n      font-weight: 900;\n      color: var(--brand2);\n      letter-spacing: .2px;\n      font-size: 13px;\n      display:flex;\n      align-items:center;\n      gap:8px;\n      page-break-after: avoid;\n      break-after: avoid;\n    }\n\n    .table-wrap{\n      border:1px solid var(--line);\n      border-radius: var(--radius);\n      overflow:hidden;\n      box-shadow: var(--shadow);\n      background:#fff;\n      page-break-inside: auto;\n      break-inside: auto;\n    }\n\n    .table-wrap.compact td,\n    .table-wrap.compact th{\n      padding-left: 7px;\n      padding-right: 7px;\n    }\n\n    table{\n      width:100%;\n      border-collapse:collapse;\n      table-layout: fixed;\n      background:#fff;\n    }\n\n    thead{\n      display: table-header-group;\n    }\n\n    thead th{\n      background: var(--brand2);\n      color:#fff;\n      font-size:12px;\n      padding:10px 8px;\n      text-align:center;\n      letter-spacing:.2px;\n      font-weight:800;\n      border-bottom: 1px solid #184364;\n      page-break-after: avoid;\n    }\n\n  tbody td{\n    border-top:1px solid var(--line);\n    padding:9px 8px;\n    font-size:12px;\n    vertical-align:top;\n    word-wrap: break-word;\n    overflow-wrap: break-word;\n  }\n\n    tbody tr{\n      page-break-inside: avoid;\n      break-inside: avoid;\n    }\n\n    tbody tr:nth-child(even){\n      background:#FBFDFF;\n    }\n\n    .cell-host{ font-weight: 900; width: 150px; white-space: nowrap; word-break: normal; overflow-wrap: normal; }\n    .cell-center{ text-align:center; white-space:nowrap; }\n    .cell-left{ text-align:left; }\n    .mono{\n      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace;\n    }\n\n    .small{\n      font-size:11.5px;\n      color:#1f2a44;\n    }\n\n    .badge{\n      display:inline-block;\n      padding:2px 9px;\n      border-radius:999px;\n      border:1px solid #ccc;\n      font-weight:900;\n      font-size:11px;\n      letter-spacing:.2px;\n      line-height: 1.3;\n    }\n\n    .badge-critical{\n      background:#FFE5E5;\n      border-color:#FF5A5A;\n      color:#7D0000;\n    }\n\n    .note{\n      margin-top:10px;\n      font-size:11.5px;\n      color:var(--muted);\n      line-height: 1.6;\n    }\n\n    .empty-row{\n      padding:16px 10px;\n      color: var(--muted);\n    }\n\n    ul.rec{\n      margin:0;\n      padding-left:18px;\n    }\n\n    ul.rec li{\n      margin:3px 0;\n      line-height: 1.45;\n    }\n\n    .appendix-note{\n      margin-top: 8px;\n      margin-bottom: 12px;\n      font-size: 11.5px;\n      color: var(--muted);\n      line-height: 1.6;\n    }\n\n    .footer{\n      margin-top:32px;\n      display:flex;\n      justify-content:space-between;\n      gap:36px;\n      align-items:flex-end;\n      break-inside: avoid;\n      page-break-inside: avoid;\n    }\n\n    .sign{\n      width:340px;\n      text-align:center;\n    }\n\n.sig{\n  max-width:220px;\n  max-height:90px;\n  width:auto;\n  height:auto;\n  display:block;\n  margin:0 auto 10px auto;\n  object-fit:contain;\n}\n\n    .line{\n      border-top:1px solid #111;\n      margin-top:8px;\n    }\n\n    .name{\n      margin-top:7px;\n      font-size:13px;\n      font-weight:900;\n    }\n\n    .title{\n      margin-top:3px;\n      font-size:12px;\n      color:var(--muted);\n      font-weight:800;\n    }\n\n    /* width tuning */\n    .cols-tophost th:nth-child(1){ width: 14%; }\n    .cols-tophost th:nth-child(2){ width: 10%; }\n    .cols-tophost th:nth-child(3){ width: 9%; }\n    .cols-tophost th:nth-child(4){ width: 8%; }\n    .cols-tophost th:nth-child(5){ width: 8%; }\n    .cols-tophost th:nth-child(6){ width: 7%; }\n    .cols-tophost th:nth-child(7){ width: 8%; }\n    .cols-tophost th:nth-child(8){ width: 7%; }\n    .cols-tophost th:nth-child(9){ width: 11%; }\n    .cols-tophost th:nth-child(10){ width: 18%; }\n\n    .cols-topfind th:nth-child(1){ width: 16%; }\n    .cols-topfind th:nth-child(2){ width: 8%; }\n    .cols-topfind th:nth-child(3){ width: 12%; }\n    .cols-topfind th:nth-child(4){ width: 12%; }\n    .cols-topfind th:nth-child(5){ width: 9%; }\n    .cols-topfind th:nth-child(6){ width: 13%; }\n    .cols-topfind th:nth-child(7){ width: 7%; }\n    .cols-topfind th:nth-child(8){ width: 23%; }\n\n    .cols-cve th:nth-child(1){ width: 15%; }\n    .cols-cve th:nth-child(2){ width: 8%; }\n    .cols-cve th:nth-child(3){ width: 13%; }\n    .cols-cve th:nth-child(4){ width: 18%; }\n    .cols-cve th:nth-child(5){ width: 8%; }\n    .cols-cve th:nth-child(6){ width: 8%; }\n    .cols-cve th:nth-child(7){ width: 30%; }\n\n    .cols-rem th:nth-child(1){ width: 14%; }   /* Host */\n    .cols-rem th:nth-child(2){ width: 10%; }   /* Threat */\n    .cols-rem th:nth-child(3){ width: 8%; }    /* Score */\n    .cols-rem th:nth-child(4){ width: 32%; }   /* Key Issues */\n    .cols-rem th:nth-child(5){ width: 36%; }   /* Recommended Actions */\n\n    /* appendix better layout */\n    .appendix-table{\n      overflow: visible;\n    }\n\n    .appendix-risk-table{\n      width:100%;\n      border-collapse: collapse;\n      table-layout: auto;\n      background:#fff;\n    }\n\n    .appendix-risk-table thead{\n      display: table-header-group;\n    }\n\n    .appendix-risk-table th{\n      background: var(--brand2);\n      color:#fff;\n      font-size:12px;\n      padding:10px 8px;\n      text-align:center;\n      font-weight:800;\n      white-space: nowrap;\n      border-bottom: 1px solid #184364;\n    }\n\n    .appendix-risk-table td{\n      border-top:1px solid var(--line);\n      padding:10px 9px;\n      font-size:11.5px;\n      vertical-align: top;\n      word-break: normal;\n      overflow-wrap: break-word;\n      white-space: normal;\n      line-height: 1.45;\n    }\n\n    .appendix-risk-table tbody tr{\n      page-break-inside: avoid;\n      break-inside: avoid;\n    }\n\n    .appendix-risk-table tbody tr:nth-child(even){\n      background:#FBFDFF;\n    }\n\n    .appendix-risk-table th:nth-child(1),\n    .appendix-risk-table td:nth-child(1){ width: 12%; }\n\n    .appendix-risk-table th:nth-child(2),\n    .appendix-risk-table td:nth-child(2){ width: 6%; }\n\n    .appendix-risk-table th:nth-child(3),\n    .appendix-risk-table td:nth-child(3){ width: 6%; }\n\n    .appendix-risk-table th:nth-child(4),\n    .appendix-risk-table td:nth-child(4){ width: 10%; }\n\n    .appendix-risk-table th:nth-child(5),\n    .appendix-risk-table td:nth-child(5){ width: 9%; }\n\n    .appendix-risk-table th:nth-child(6),\n    .appendix-risk-table td:nth-child(6){ width: 7%; }\n\n    .appendix-risk-table th:nth-child(7),\n    .appendix-risk-table td:nth-child(7){ width: 12%; }\n\n    .appendix-risk-table th:nth-child(8),\n    .appendix-risk-table td:nth-child(8){ width: 18%; }\n\n    .appendix-risk-table th:nth-child(9),\n    .appendix-risk-table td:nth-child(9){ width: 20%; }\n\n    .top, .grid, .card, .section-block, .footer {\n      orphans: 3;\n      widows: 3;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"wm\"><span>SMARTINFRA THREAT INTELLIGENCE<br>CONFIDENTIAL</span></div>\n\n  <div class=\"page\">\n    <div class=\"top\">\n      <div class=\"brand\">\n        ${\n          logoDataUri\n            ? `<img class=\"logo\" src=\"${logoDataUri}\" alt=\"logo\" />`\n            : `<div class=\"logo\" style=\"display:flex;align-items:center;justify-content:center;color:#98A2B3;font-weight:900;\">LOGO</div>`\n        }\n        <div>\n          <h1>SmartInfra Security Suite | Executive Summary</h1>\n          <div class=\"sub\">Level 4 — Report & Notify | Professional Plus v2</div>\n        </div>\n      </div>\n\n      <div class=\"meta\">\n        <div class=\"pill\">Internal Use</div><br/>\n        <div><b>Scan Time:</b> ${esc(scanTimeTH)}</div>\n        <div><b>Total Hosts:</b> ${esc(totalHosts)}</div>\n        <div><b>Total Findings:</b> ${esc(totalFindings)}</div>\n      </div>\n    </div>\n\n    ${riskBannerHtml}\n\n    <div class=\"grid\">\n      <div class=\"card\">\n        <div class=\"card-title\">📌 Executive Overview</div>\n        <div class=\"kpis\">\n          <div class=\"kpi\"><div class=\"n\">${esc(totalHosts)}</div><div class=\"l\">Affected Hosts</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(totalFindings)}</div><div class=\"l\">Total Findings</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(avgRiskScore.toFixed(1))}</div><div class=\"l\">Avg Risk Score</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(avgSecurityScore.toFixed(1))}</div><div class=\"l\">Avg Security Score</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(overallSecurityGrade)}</div><div class=\"l\">Security Grade</div></div>\n          <div class=\"kpi\"><div class=\"n\">${esc(kevCount)}</div><div class=\"l\">KEV Detected</div></div>\n        </div>\n        <div class=\"note\">\n          ภาพรวมการประเมินครั้งนี้ชี้ให้เห็นระดับความเสี่ยงของ attack surface\n          ที่ควรได้รับการจัดลำดับความสำคัญในการแก้ไข โดยเฉพาะบริการที่เชื่อมโยงกับ CVE และ KEV\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-title\">🧭 Threat Distribution</div>\n        <div class=\"dist\">\n          <div class=\"box\"><div class=\"n\">${esc(counts.CRITICAL)}</div><div class=\"l\">CRITICAL</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(counts.HIGH)}</div><div class=\"l\">HIGH</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(counts.MEDIUM)}</div><div class=\"l\">MEDIUM</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(counts.LOW)}</div><div class=\"l\">LOW</div></div>\n          <div class=\"box\"><div class=\"n\">${esc(cveDetectedCount)}</div><div class=\"l\">CVE</div></div>\n        </div>\n        <div class=\"note\">\n          ใช้หน้านี้เป็นหน้าสรุปสำหรับผู้บริหารก่อนลงรายละเอียดเชิงเทคนิคในหน้าถัดไป\n        </div>\n      </div>\n    </div>\n\n    <div class=\"grid\" style=\"margin-top:16px;\">\n      <div class=\"card\">\n        <div class=\"card-title\">🚨 Top 3 Urgent Findings</div>\n        <ul class=\"highlight-list\">\n          ${executiveTop3Findings || \"<li>No urgent findings</li>\"}\n        </ul>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-title\">🖥 Top 3 Affected Hosts</div>\n        <ul class=\"highlight-list\">\n          ${executiveTop3Hosts || \"<li>No affected hosts</li>\"}\n        </ul>\n      </div>\n    </div>\n\n    <div class=\"card\" style=\"margin-top:16px;\">\n      <div class=\"card-title\">🛠 Immediate Recommended Actions</div>\n      <ul class=\"highlight-list\">\n        <li>เร่งตรวจสอบและจำกัดการเข้าถึงบริการที่มีความเสี่ยงระดับ HIGH/CRITICAL ก่อนเป็นลำดับแรก</li>\n        <li>ดำเนินการ patching / upgrade สำหรับบริการที่เชื่อมโยงกับ CVE และ KEV</li>\n        <li>ทบทวน exposure ของพอร์ตที่เปิดสู่เครือข่าย โดยเฉพาะพอร์ต admin, web, camera และ remote service</li>\n        <li>บังคับใช้ hardening, credential review, segmentation และ logging สำหรับ host ที่อยู่ใน Top Risk</li>\n      </ul>\n    </div>\n\n    ${buildSection(\n      \"⭐ Top 5 Hosts by Maximum Threat\",\n      `<div class=\"table-wrap compact cols-tophost\">\n        <table>\n          <thead>\n            <tr>\n              <th>Host</th>\n              <th>Threat</th>\n              <th>Sec.Score</th>\n              <th>Findings</th>\n              <th>Critical</th>\n              <th>High</th>\n              <th>Medium</th>\n              <th>KEV</th>\n              <th>Ports</th>\n              <th>Top Finding</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${topHostRows || `<tr><td colspan=\"10\" class=\"cell-center empty-row\">No data</td></tr>`}\n          </tbody>\n        </table>\n      </div>`\n    )}\n\n    ${buildSection(\n      \"🚨 Top 10 Findings\",\n      `<div class=\"table-wrap compact cols-topfind\">\n        <table>\n          <thead>\n            <tr>\n              <th>IP</th>\n              <th>Port</th>\n              <th>Service</th>\n              <th>Threat</th>\n              <th>Score</th>\n              <th>CVE</th>\n              <th>KEV</th>\n              <th>Finding</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${topFindingsRows || `<tr><td colspan=\"8\" class=\"cell-center empty-row\">No data</td></tr>`}\n          </tbody>\n        </table>\n      </div>`\n    )}\n\n    ${buildSection(\n      \"🦠 Top CVE / Known Exploited Vulnerabilities\",\n      `<div class=\"table-wrap compact cols-cve\">\n        <table>\n          <thead>\n            <tr>\n              <th>IP</th>\n              <th>Port</th>\n              <th>Service</th>\n              <th>CVE</th>\n              <th>CVSS</th>\n              <th>KEV</th>\n              <th>Description</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${topCveRows || `<tr><td colspan=\"7\" class=\"cell-center empty-row\">No CVE/KEV data</td></tr>`}\n          </tbody>\n        </table>\n      </div>`\n    )}\n\n    ${buildSection(\n      \"🛠 Remediation Recommendations (Top 5 Hosts)\",\n      `<div class=\"table-wrap compact cols-rem\">\n        <table>\n          <thead>\n            <tr>\n              <th>Host</th>\n              <th>Threat</th>\n              <th>Score</th>\n              <th>Key Issues</th>\n              <th>Recommended Actions</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${remediationRows || `<tr><td colspan=\"5\" class=\"cell-center empty-row\">No remediation data</td></tr>`}\n          </tbody>\n        </table>\n      </div>`\n    )}\n\n    ${buildSection(\n      \"📎 Appendix A — Full Risk Findings\",\n      `\n        <div class=\"appendix-note\">\n          ภาคผนวกนี้แสดงรายละเอียด findings ทั้งหมดสำหรับการตรวจสอบย้อนกลับ การวิเคราะห์เชิงเทคนิค\n          และการส่งต่อให้ทีมปฏิบัติการใช้วางแผน remediation ต่อไป\n        </div>\n\n        <div class=\"table-wrap appendix-table\">\n          <table class=\"appendix-risk-table\">\n            <thead>\n              <tr>\n                <th>IP</th>\n                <th>Port</th>\n                <th>Proto</th>\n                <th>Service</th>\n                <th>Threat</th>\n                <th>Score</th>\n                <th>CVE</th>\n                <th>Finding</th>\n                <th>Recommendation</th>\n              </tr>\n            </thead>\n            <tbody>\n              ${appendixRows || `<tr><td colspan=\"9\" class=\"cell-center empty-row\">No data</td></tr>`}\n            </tbody>\n          </table>\n        </div>\n      `,\n      \"appendix-start\"\n    )}\n\n    <div class=\"footer\">\n      <div class=\"sign\">\n        ${\n          signDataUri\n            ? `<img class=\"sig\" src=\"${signDataUri}\" alt=\"signature\" />`\n            : `<div style=\"height:56px;color:#98A2B3;font-weight:900;display:flex;align-items:center;justify-content:center;\">Signature</div>`\n        }\n        <div class=\"line\"></div>\n        <div class=\"name\">ท่านเซ่อ สมโภช ทองน้ำเที่ยง</div>\n        <div class=\"title\">ผอ. หน่วยข่าวกรองด้านไซเบอร์</div>\n      </div>\n\n      <div class=\"sign\">\n        <div style=\"height:56px\"></div>\n        <div class=\"line\"></div>\n        <div class=\"name\">Approved By</div>\n        <div class=\"title\">&nbsp;</div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\n// Output as binary.html for Gotenberg\nconst htmlBuffer = Buffer.from(html, \"utf8\");\n\nreturn [{\n  json: {\n    report_name: reportName,\n    scanned_at: scannedAtISO,\n    scan_time_th: scanTimeTH,\n    total_hosts: totalHosts,\n    total_findings: totalFindings,\n    avg_risk_score: Number(avgRiskScore.toFixed(1)),\n    avg_security_score: Number(avgSecurityScore.toFixed(1)),\n    security_grade: overallSecurityGrade,\n    overall_threat: overallThreat,\n    critical_count: counts.CRITICAL,\n    high_count: counts.HIGH,\n    medium_count: counts.MEDIUM,\n    low_count: counts.LOW,\n    unknown_count: counts.UNKNOWN,\n    cve_count: cveDetectedCount,\n    kev_count: kevCount,\n    risk_distribution: counts,\n    _debug_logo_via: logoRes.via,\n    _debug_sig_via: sigRes.via,\n    _debug_logo_len: (logoRes.base64 || \"\").length,\n    _debug_sig_len: (sigRes.base64 || \"\").length\n  },\n  binary: {\n    ...(bin0 || {}),\n    html: {\n      data: htmlBuffer.toString(\"base64\"),\n      mimeType: \"text/html\",\n      fileName: \"index.html\",\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        -1840
      ],
      "id": "0c9d5362-12e9-4c15-8723-3e7d75715a0e",
      "name": "Code | Build HTML Report"
    },
    {
      "parameters": {
        "jsCode": "// Code: Build LINE Message\n// Input: current item + report summary from \"Code | Build HTML Report\"\n\nconst current = items[0]?.json || {};\n\nlet report = {};\ntry {\n  report = $('Code | Build HTML Report').all()[0]?.json || {};\n} catch (e) {\n  report = {};\n}\n\nconst driveLink =\n  current.drive_link ||\n  current.webViewLink ||\n  (current.id ? `https://drive.google.com/file/d/${current.id}/view?usp=sharing` : \"\") ||\n  report.drive_link ||\n  report.webViewLink ||\n  \"\";\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction getThaiTime() {\n  if (report.scan_time_th) return report.scan_time_th;\n\n  const now = new Date();\n  const th = new Date(now.toLocaleString(\"en-US\", { timeZone: \"Asia/Bangkok\" }));\n  const dd = pad2(th.getDate());\n  const mm = pad2(th.getMonth() + 1);\n  const yyyy = th.getFullYear() + 543;\n  const hh = pad2(th.getHours());\n  const mi = pad2(th.getMinutes());\n  const ss = pad2(th.getSeconds());\n\n  return `${dd}/${mm}/${yyyy} ${hh}:${mi}:${ss}`;\n}\n\nconst critical = Number(report.critical_count || report.risk_distribution?.CRITICAL || 0);\nconst high = Number(report.high_count || report.risk_distribution?.HIGH || 0);\nconst medium = Number(report.medium_count || report.risk_distribution?.MEDIUM || 0);\nconst low = Number(report.low_count || report.risk_distribution?.LOW || 0);\n\nconst totalHosts = Number(report.total_hosts || 0);\nconst totalFindings = Number(report.total_findings || 0);\nconst avgRiskScore = Number(report.avg_risk_score || 0);\nconst avgSecurityScore = Number(report.avg_security_score || 0);\nconst securityGrade = report.security_grade || \"-\";\nconst kevCount = Number(report.kev_count || 0);\nconst cveCount = Number(report.cve_count || 0);\n\n// สถานะระบบ\nlet systemStatus = \"NORMAL\";\nif (critical > 0) systemStatus = \"EMERGENCY\";\nelse if (high > 0) systemStatus = \"ATTENTION\";\nelse if (medium > 0) systemStatus = \"REVIEW\";\n\n// สรุประดับแจ้งเตือน\nlet alertLabel = \"NORMAL\";\nlet alertIcon = \"🟢\";\n\nif (critical > 0) {\n  alertLabel = \"CRITICAL\";\n  alertIcon = \"🚨\";\n} else if (high > 0) {\n  alertLabel = \"HIGH\";\n  alertIcon = \"⚠️\";\n} else if (medium > 0) {\n  alertLabel = \"MEDIUM\";\n  alertIcon = \"🟡\";\n}\n\n// Build LINE message\nlet msg = \"\";\nmsg += `🛡️ SmartInfra VA Alert (Level 4)\\n`;\nmsg += `🕒 ${getThaiTime()}\\n\\n`;\n\nmsg += `${alertIcon} Alert Level: ${alertLabel}\\n`;\nmsg += `📍 System Status: ${systemStatus}\\n\\n`;\n\nmsg += `🖥 Hosts scanned: ${totalHosts}\\n`;\nmsg += `📌 Total findings: ${totalFindings}\\n`;\nmsg += `📈 Avg Risk Score: ${avgRiskScore.toFixed(1)}\\n`;\nmsg += `🔐 Avg Security Score: ${avgSecurityScore.toFixed(1)}\\n`;\nmsg += `🏷 Security Grade: ${securityGrade}\\n\\n`;\n\nmsg += `📊 Risk Distribution\\n`;\nmsg += `🟥 CRITICAL: ${critical}\\n`;\nmsg += `🟧 HIGH: ${high}\\n`;\nmsg += `🟨 MEDIUM: ${medium}\\n`;\nmsg += `🟩 LOW: ${low}\\n`;\nmsg += `🦠 CVE: ${cveCount}\\n`;\nmsg += `🔥 KEV: ${kevCount}\\n`;\n\nif ((critical + high) > 0) {\n  msg += `\\n🚨 High/Critical Total: ${critical + high}\\n`;\n}\n\nif (driveLink) {\n  msg += `\\n📄 Report (PDF):\\n${driveLink}\\n`;\n}\n\nreturn [{\n  json: {\n    ...current,\n    ...report,\n    drive_link: driveLink,\n    alert_level_label: alertLabel,\n    system_status: systemStatus,\n    line_message: msg\n  },\n  binary: items[0]?.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        -464
      ],
      "id": "a673f01e-57a8-4a05-9eef-1256d974ce04",
      "name": "Code: Build LINE Message1"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GS | Read Risk Findings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Gotenberg": {
      "main": [
        [
          {
            "node": "Code | Rename PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Rename PDF": {
      "main": [
        [
          {
            "node": "Google Drive (Upload)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive – Share (Permission)": {
      "main": [
        [
          {
            "node": "Code | Build Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive (Upload)": {
      "main": [
        [
          {
            "node": "Google Drive – Share (Permission)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build Drive Link": {
      "main": [
        [
          {
            "node": "Code | Build Email Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Build LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File(s) from Disk-logo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read File(s) from Disk-signature": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code | Build HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Read Risk Findings": {
      "main": [
        [
          {
            "node": "CODE | Filter Latest Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build LINE Message": {
      "main": [
        [
          {
            "node": "IF | Has High/Critical Risk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GS | Read Risk Findings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read File(s) from Disk-signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build Email Metadata": {
      "main": [
        [
          {
            "node": "Email (Gmail/SMTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge | Email Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Has High/Critical Risk?": {
      "main": [
        [
          {
            "node": "Set (LINE Target - Alert)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set (LINE Target - Summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (LINE Target - Alert)": {
      "main": [
        [
          {
            "node": "LineMessageNode - Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LineMessageNode - Alert": {
      "main": [
        [
          {
            "node": "LineMessaging-SendMessage - Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (LINE Target - Summary)": {
      "main": [
        [
          {
            "node": "LineMessageNode - Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LineMessageNode - Summary": {
      "main": [
        [
          {
            "node": "LineMessaging-SendMessage - Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email (Gmail/SMTP)": {
      "main": [
        [
          {
            "node": "Merge | Email Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code | Build Report Log": {
      "main": [
        [
          {
            "node": "GS | Append Report Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge | Email Result": {
      "main": [
        [
          {
            "node": "Code | Build Report Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Filter Latest Scan": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build HTML Report": {
      "main": [
        [
          {
            "node": "HTTP Request | Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "21932a7b-3ece-4dc0-9ae5-63e24895dc83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e8bd4e6dcfe2d257f6d9648f4efaf76882daef04e1402d554d9aae9132bba97"
  },
  "id": "r1bCQlh2lhFPCF9w",
  "tags": []
}